body {
	background-color: #e8e8e9;
	background-image: url('../images/grid.png');
	color: #333;
	font: 13px/18px Helvetica, Arial, sans-serif;
}

a {
	color: #2687e2;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#logo {
	background-image: url('../images/origami.png');
	height: 512px;
	margin-left: -125px;
	position: absolute;
	top: -70px;
	width: 512px;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #logo {
    background-image: url('../images/origami@2x.png');
    background-size: 512px 512px;
  }
}

#header-type {
	background: url('../images/header-type.png') no-repeat;
	text-indent: -9999px;
	height: 190px;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #header-type {
    background-image: url('../images/header-type@2x.png');
    background-size: 354px 167px;
  }
}

#page {
	background: white;
	border: 1px solid #dbdbdb;
	margin: 59px auto 0;
	width: 959px;
}

#intro {
	color: #666;
	font-size: 16px;
	line-height: 22px;
	margin-left: 350px;
	padding-top: 70px;
	padding-bottom: 80px;
}

#intro a {
	color: #666;
}

#title {
	color: #349ef8;
	font-size: 70px;
	padding-bottom: 10px;
}

.heading {
	color: #9d9e9f;
	font-size: 30px;
	line-height: 37px;
	padding-bottom: 30px;
}

.unit {
	padding: 0 70px 20px;
}

.unit.radial {
	background-color: #f8f9fb;
	padding: 50px 70px 30px;
}

.unit.editor {
	background-image: url('../images/unit-editor.png');
	border-top: 1px solid black;
	height: 509px;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .unit.editor {
    background-image: url('../images/unit-editor@2x.png');
    background-size: 960px 509px;
  }
}

.unit.get-started {
	padding: 50px 70px 70px;
}

.unit.quartz-composer {
	padding-bottom: 50px;
	padding-top: 70px;
}

.unit.welcome {
	padding: 30px;
}

.phone {
	background: url('../images/iphone.png') no-repeat;
	float: right;
	height: 666px;
	margin-top: -100px;
	margin-left: 610px;
	position: absolute;
	width: 350px;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .phone {
    background-image: url('../images/iphone@2x.png');
    background-size: 310px 660px;
  }
}

.photo-container {
	height: 455px;
	left: 27px;
	overflow: hidden;
	position: relative;
	top: 96px;
	width: 256px;
}

.photo {
	background: url('../images/horses.png');
	display: block;
	height: 455px;
	margin-left: -100px;
	transition: opacity 0.2s ease-out;
	-webkit-transform: scale3d(1,1,1);
	width: 455px;
}

.pill {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 32px;
  	color: #fff;
	cursor: default;
	font-size: 12px;
	font-weight: bold;
	left: 50%;
	margin-left: -56px;
	margin-top: -12px;
	opacity: 1;
	padding: 6px;
	position: absolute;
	text-align: center;
	top: 50%;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	transition: opacity 0.3s;
	width: 100px;
}

.photo.down .pill {
	opacity: 0;
}

.patches-canvas {
	background: url('../images/patches-canvas.png') repeat-x;
	height: 352px;
	width: 821px;
}

.quartz-composer-feature {
	background: url('../images/quartz-composer.png') no-repeat 70px 25px;
	border: 3px solid #eee;
	border-radius: 10px;
	color: #999;
	padding: 25px 80px 30px 260px;
}

.patches-canvas .page-left {
	background: url('../images/page-left.png');
	cursor: pointer;
	height: 81px;
	margin-left: -109px;
	margin-top: 140px;
	position: absolute;
	width: 75px;
}

.patches-canvas .page-left .hover-preload,
.patches-canvas .page-left:hover {
	background: url('../images/page-left-hover.png');
}

.patches-canvas .page-right {
	background: url('../images/page-right.png');
	cursor: pointer;
	height: 81px;
	position: absolute;
	margin-left: 853px;
	margin-top: 140px;
	width: 75px;
}

.patches-canvas .page-right .hover-preload,
.patches-canvas .page-right:hover {
	background: url('../images/page-right-hover.png');
}


.divider {
	border-top: 1px solid #ccc;
	width: 100%;
	height: 1px;
	margin: 20px auto 30px;
}

.patches-list {
	list-style: square;
	padding: 0 15px 0;
	width: 355px;
	float: left;
}

ul.patches-list  li {
	margin-bottom: 20px;	
}

ul.patches-list  li strong {
	display: block;
}

.steps-container {
	width: 959px;
	height: 305px;
	margin: auto;
}

.get-started .action-step {
	float: left;
	margin-right: 32px;
	border: 1px solid #bbb;
	background: white;
	width: 250px;
	height: 240px;
	box-shadow: 0 2px 8px rgba(0,0,0,.15);
	text-align: center;
	text-shadow: rgba(0,0,0,.2) 0 -1px;
	text-decoration: none;
}

.step-header {
	color: white;
	background-color: #848484;
	background-image: -webkit-linear-gradient(#c6c5c5, #848484);
	height: 50px;
	border: 1px solid #808080;
	margin: -1px;
}

.get-started .action-step:hover {
	box-shadow: 0 2px 8px rgba(39,137,227,.15);
	border: 1px solid #2687e2;
	text-shadow: rgba(39,137,227,.5) 0 -1px;
}

.get-started .action-step:hover .step-header {
	background-color: #2687e2;
	background-image: -webkit-linear-gradient(#57b0fc, #2687e2);
	border-color: #2687e2;
}

.step-header .step-number {
	float: left;
	font-size: 30px;
	width: 30px;
	height: 20px;
	padding: 15px 8px;
	text-align: center;
}

.step-header .step-divider {
	float: left;
	width: 1px;
	height: 50px;
	background-image: -webkit-linear-gradient(#8c8c8c, #727272);
	margin-right: 16px;
}

.get-started .action-step:hover .step-divider {
	background-image: -webkit-linear-gradient(#3c8ed4, #2174c1);
}

.step-header .step-title {
	font-size: 14px;
	font-weight: bold;
	padding: 7px;
	text-align: left;
}

.get-started .action-step img {
	padding-top: 20px;
}

.requirements {
	text-align: right;
	font-size: 10px;
	color: #ccc;
	padding: 30px 50px 0 0;
}

.qtz {
	width: 200px;
	height: 40px;
	background: url('../images/example.png') no-repeat;
	padding-left: 40px;
	line-height: 35px;
	margin-left: 40px;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .qtz {
    background-image: url('../images/example@2x.png');
    background-size: 32px 32px;
  }
}

#license {
	font: 16px 'Courier New', Courier;
	padding: 60px 160px;
}

#footer {
	color: #ccc;
	font-size: 12px;
	text-align: center;
	padding: 10px 0 40px;
}

#footer a {
	color: #ccc;
}
