@import url('flex.css');

/* All Sections */

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    cursor: default;
    -webkit-user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-text-size-adjust:none;
    -webkit-font-smoothing: antialiased;
}
 
a {
	color:inherit;
	text-decoration: none;
} 
 
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 1.28;
}

p {
	-webkit-user-select:text;
	cursor: auto;
}

h2 {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 39px;
	font-weight: normal;
}

/* Nav Bar */

#nav {
	border-bottom:  1px solid rgba(255, 255, 255, .3);
	padding: 15px 33px;
	list-style: none;
	position: absolute;
	width: 100%;
}

#nav li {
	font-size: 15px;
	line-height: 20px;
	color: white;
	float: left;
}

#nav li.logo {
	background-image: url(images/logo-small-2x.png);
	background-size: 59px 17px;
	background-repeat: no-repeat;
	background-position: center 2.5px;
	width: 59px;
	height: 20px;
	margin-right: 36px;
}

#nav li.item {
	margin: 0 17px;
}

#nav li.download {
	float: right;
}


/* Hero Section */

#section-hero {
	background-image: url(images/hero.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	min-height: 500px;
	color: white;
}

#section-hero p::selection {
	background: rgba(255, 255, 255, .3);	
}

#hero-content-wrapper {
	display: -webkit-flex;
	display: flex;
	align-items: center;
	height: 100vh;
}

#hero-content {
	max-width: 400px;
	margin-left: 7%;
	margin-top: auto;
	margin-bottom: auto;
	padding-bottom: 20px;
}

#hero-content .logo {
	background-image: url(images/logo-big-2x.png);
	background-size: contain;
	width: 257px;
	height: 92px;
	margin-bottom: 36px;
}

/* Presentation Section */

#section-presentation {
	text-align: center;
}

#section-presentation h2 {
	margin-top: 50px;
	margin-bottom: 20px;
}

#section-presentation p::selection {
	background: rgba(0, 0, 0, .1);	
}

#section-presentation p {
	color: rgb(128, 128, 128);
}

#section-presentation .header-container {
	max-width: 540px;
	margin: 0 auto;
}

#tv {
	background-image: url(images/tv.jpg);
	background-size: cover;
	background-position: center;
	width: 100vw;
	max-width: 975px;
	height: 597px;
	margin: 28px auto 0 auto;
}

#screen {
	background-color: white;
	width: 779px;
	height: 438px;
	margin: 0 auto;
	top: 22px;
	position: relative;
	overflow: hidden;
}

#screen .hand {
	background-image: url(images/hand.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

#screen .mockup {
	background-image: url(images/messenger.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

#screen .darkening {
	background-image: url(images/darkening.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	opacity: 0;
}

#screen .phone {
	background-image: url(images/iphone.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

#controller {
	margin-top: -58px;
}

#keys {
	list-style: none;
	display: inline-block;
	margin-top: 20px;
	padding-bottom: 100px;
}

#keys li {
	float: left;
	width: 50px;
	height: 50px;
	margin: 0 5px;
	border-radius: 4px;
	border-color: rgba(0, 0, 0, .3);
	border-width: 2px;
	border-style: solid;
	color: rgba(0, 0, 0, .4);
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 23px;
	line-height: 46px;
}

#keys li:active,
#keys li.active {
	background-color: rgba(0, 0, 0, 0.1);
}

/* Clear Fix */

.cf:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] .cf {
	display: block;
}

* html .cf {
	height: 1%;
}