ul.docs {
	list-style-type: none;
	width: 300px;
	padding: 36px;
	height: calc(100vh - 51px);
	float: left;
	line-height: 1.5em;
}

ul.docs ul {
	margin-bottom: 1.5em;
}

/* Active page */
ul.docs span {
	color: rgb(0, 114, 255);
}
ul.docs li a {
	font-weight: inherit;
}

ul.docs li {
	font-weight: bold;
	list-style: none;
}

ul.docs ul li {
	font-weight: normal;
	list-style: none;
}

.doc-content {
	margin-left: 300px;
	width: 800px;
	padding: 36px;
}

div.patch-block {
	text-align: center;
	padding: 10px;
}

div.patch {
	display: inline-block;
	border: 2px solid rgba(100,100,100,0.0);
	border-radius: 8px;
	position: relative;
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	background: black;
	box-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.5);
}

div.patch.processor {
	background: #333333;
}

div.patch.consumer {
	background: rgb(74, 130, 229);
}

div.patch.producer {
	background: #ff0099;
}


div.patch * {
	font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	font-size: 12px;
	line-height: 1.4em;
}

div.patch hr {
	clear: both;
	visibility: hidden;
}

div.patch ul {
	padding: 5px;
}

/* Style ports */
div.patch ul li {
	list-style-type: none;
    background: url(/public/images/port-2x.png) left center no-repeat;
}

div.patch ul li span {
    list-style-position: inside;
    font-size: 12px;
}

div.patch h3 {
	font-size: 12px;
	text-align: center;
	background: rgba(255, 255, 255, 0.1);
	padding: 0;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

div.patch ul.inputs {
	text-align: left;
	float: left;
	position: relative;
}

div.patch ul.outputs {
	direction: rtl;
	text-align: right;
	position: relative;
	float: right;
}

div.patch ul.inputs li {
	padding-left: 14px;
    background: url(/public/images/port-2x.png) left center no-repeat;
}

div.patch ul.outputs li {
	padding-right: 14px;
    background: url(/public/images/port-2x.png) right center no-repeat;
}

h1 {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 39px;
	font-weight: normal;
	text-align: center;
	margin-bottom: 12px;
}

p {
	margin-bottom: 1em;
	color: rgb(128, 128, 128);
}

h2 {
	font-size: 18px;
	margin-top: 1em;
	margin-bottom: 0.5em;
	padding: 0;
}

dl {
	font-size: 0.8em;
}

div.inputs {
	float: left;
	width: 50%;
}

div.outputs {
	float: right;
	width: 50%;
}

.port-descriptions {
	position: relative;
}

.port-descriptions .inputs {
	padding-right: 5px;
}

.port-descriptions .outputs {
	padding-left: 5px;
}

.port-descriptions ol {
	color: rgb(128, 128, 128);
	margin-left: 2em;
}

dt {
	font-weight: bold;
}

dd {
	display: inline;
}

hr {
	clear: both;
	visibility: hidden;
}
