/* @override 
	http://localhost:4000/public/css/documentation.css */

#docs-scrolling-wrapper {
	width: 100%;
	overflow-x: scroll;
	padding: 36px 0;
}

#docs-wrapper {
	max-width: 900px;
	min-width: 768px;
	margin: 0 auto;
}

ul.docs {
	list-style-type: none;
	width: 200px;
	padding: 0 32.5px;
	float: left;
	line-height: 1.5em;
	font-size: 13px;
	border-right: 1px solid #e5e5e5;
}

ul.docs ul {
	margin-bottom: 1.5em;
}

/* Active page */
ul.docs span {
	color: rgb(0, 114, 255);
}

ul.docs li a {
	font-weight: inherit;
}

ul.docs li a:hover {
	color: black;
}

ul.docs li {
	font-weight: bold;
	list-style: none;
	line-height: 30px;
}

ul.docs ul li {
	line-height: 20px;
	font-weight: normal;
	list-style: none;
	color: rgba(0,0,0,0.65);
}

.doc-content {
	padding-left: 48px;
	margin-right: 48px;
	margin-left: 199px; /*-1px left to overlap border for varying content height*/
	border-left: 1px solid #e5e5e5;
	min-height: calc(100vh - 126px);
	position: relative;
}

.doc-content ul {
	list-style-type: none;
}

.doc-content * {
	-webkit-user-select: text;
	cursor: auto;
}

.doc-content p {
	font-size: 14px;
	line-height: 20px;
	color: #585858;
}

.doc-content strong, .doc-content b {
	font-weight: 500;
}

.doc-content a:hover {
	color: black;
}

.doc-content a.action-button:hover {
	color: rgb(0, 114, 255);
}

div.patch-block {
	padding-top: 16px;
	padding-bottom: 16px;
}

div.patch-block * {
	-webkit-user-select: none;
	cursor: default;
}

div.patch {
	display: inline-block;
	border-radius: 5px;
	position: relative;
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	background: black;
}

div.patch.processor {
	background: #555;
}

div.patch.consumer {
	background: rgb(74, 130, 229);
}

div.patch.producer {
	background: rgb(174, 93, 218);
}

div.patch * {
	font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', Helvetica, sans-serif !important;
	font-size: 11px;
	line-height: 1.5em;
}

div.patch hr {
	clear: both;
	visibility: hidden;
}

div.patch ul {
	padding: 5px;
	padding-bottom: 2px;
}

/* Style ports */
div.patch ul li span {
    list-style-position: inside;
}

div.patch.unlabeled {
	display: inline-flex;
}

div.patch.unlabeled ul {
	padding: 5px;
	padding-bottom: 4px;
}

div.patch h3 {
	font-size: 12px;
	text-align: left;
	background: rgba(255, 255, 255, 0.1);
	padding: 5px 8px;
	margin: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

div.patch.unlabeled h3 {
	order: 1;
	align-self: center;
	text-align: center;
	background: none;
	padding: 0;
}

div.patch ul.inputs {
	text-align: left;
	float: left;
	position: relative;
	padding-right: 14px;
	order: 0;
}

div.patch ul.outputs {
	direction: rtl;
	text-align: right;
	position: relative;
	float: right;
	padding-left: 14px;
	order: 2;
}

div.patch ul.outputs li.published:after,
div.patch ul.inputs li.published:after {
	background: rgb(70, 211, 68);
}

div.patch ul.inputs li {
	padding-left: 13px;	
  position: relative;
}


div.patch ul.inputs li:after,
div.patch ul.outputs li:after {
	content: " ";
	display: block;
	background: white;
	border-radius: 6px;
	width: 6px;
	height: 6px;
	position: absolute;
	top: 5px;
}

div.patch ul.inputs li:after {
	left: 2px;
}

div.patch ul.outputs li {
	padding-right: 13px;
  position: relative;
}

div.patch ul.outputs li:after {
	right: 2px;
}

div.patch span.patch-value {
	opacity: .5;
}

/* Patch value animations */

/* Flicker super fast */
span.patch-value.flicker {
	 animation: flicker .25s linear infinite;
}

/* Flicker steadily */
span.patch-value.repeating-signal {
	 animation: flicker 3s linear infinite;
}

@keyframes flicker {
  0% { opacity: 0; }
  50% { opacity: 0; }
  51% { opacity: .5; }
  100% { opacity: .5; }
}

/* Flash on once every x seconds */
span.patch-value.repeating-pulse {
	 animation: pulse 3s linear infinite;
}

@keyframes pulse {
  0% { opacity: .5; }
  10% { opacity: .5; }
  11% { opacity: 0; }
  100% { opacity: 0; }
}

/* Style a chain of patches */
ul.patch-chain {
	display: inline-flex;
}

@media only screen and (min-width: 768px) {
	ul.patch-chain {
		overflow-x: scroll;
	}
}

ul.patch-chain > li {
	margin-right: 10px;
	flex-shrink: 0;
	flex-grow: 0;
}

ul.patch-chain > li:last-child {
	margin-right: 0;
}

@media only screen and (max-width: 768px) {
	ul.patch-chain > li:last-child {
		padding-right: 48px;
	}
}

ul.patch-chain .unlabeled {
	margin-top: 38px;
}

.cable {
	background-color: rgb(254, 186, 1);
	top: 10px;
	left: 100%;
	margin-top: 1px;
	margin-left: -12px;
	width: 34px;
	height: 4px;
	border-radius: 2px;
	position: absolute;
	z-index: 1;
	-webkit-transform-origin: left center;
}

h1 {
	font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 30px;
	font-weight: normal;
	margin-bottom: .8em;
}

p {
	margin-bottom: 1em;
}

h2 {
	font-size: 19px;
	margin-top: 2em;
	margin-bottom: 0.6em;
	padding: 0;
	font-weight: normal;
	font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, sans-serif;
}

h6 {
  font: 12px "HelveticaNeue-Medium", 'Helvetica Neue', Helvetica, sans-serif;
  text-transform: uppercase;
  padding-bottom: 5px;
  padding-top: 15px;
}

dl {
	font-size: 0.8em;
}

div.inputs {
	float: left;
	width: 50%;
}

div.outputs {
	float: right;
	width: 50%;
}

.port-descriptions {
	position: relative;
}

.port-descriptions p {
	font-size: 13px;
	line-height: 17px;
}

.port-descriptions .inputs {
	padding-right: 20px;
}

.port-descriptions .outputs {
	padding-left: 20px;
}

.port-descriptions ol {
	color: rgb(128, 128, 128);
	list-style-position: inside;
	margin-bottom: 1em;
	-webkit-user-select: text;
}

.port-descriptions dt {
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 4px;
}

.port-descriptions dd {
	display: inline;
}

hr {
	clear: both;
	visibility: hidden;
}

.coord-example {
	width: 300px;
	height: 400px;
	background: #eeeeee;
	position: relative;
	margin-bottom: 2em;
}

.coord-example .dot {
	width: 10px;
	height: 10px;
	background: rgb(0, 114, 255);
	border-radius: 10px;
	position: absolute;
}

.coord-example .label {
	color: #333;
	position: absolute;
	width: 10em;
	padding: 1em;
	font-size: 0.8em;
}

.coord-example .dot-left {
	left: -5px;
	text-align: left;
}

.coord-example .dot-right {
	right: -5px;
	text-align: right;
}

.coord-example .dot-top {
	top: -5px;
}

.coord-example .dot-bottom {
	bottom: -5px;
}

.coord-example .label.dot-right {
}

.coord-example .dot.dot-center-x {
	left: calc(50% - 5px);
}

.coord-example .label.dot-center-x {
	left: calc(50% - 5em);
	text-align: center;
}

.coord-example .dot-center-y {
	top: calc(50% - 5px);
}

.coord-example .box {
	position: absolute;
	margin: 5px;
	background: gray;
	padding: 2px;
	color: white;
}

.coord-example .box.inset-40 {
	margin: 45px;
}

.shortcuts {
	position: relative;
}

.shortcuts div.shortcut {
	height: 2.8em;
	margin: 0.5em 0;
}

.shortcuts dt {
	box-align: stretch;
}

.shortcuts div.shortcut dd {
	padding-left: .8em;
	color: black;
	margin-top: 7px;
}

.key.modifier, .key.letter {
	display: inline-block;
	color: rgba(0,0,0,0.7);
	font: 16px "HelveticaNeue", 'Helvetica Neue', Helvetica, sans-serif;
	border-radius: 2px;
	background-color: rgba(0,0,0,0.07);
	text-align: center;
	height: 1.9em;
	line-height: 1.9em;
	margin-right: 2px;
  width: 1.9em;
}

.key.modifier {
	width: 2.3em;
}

.key.inline {
	font-size: 14px;
	margin-top: -2px;
	margin-bottom: -2px;
	/*vertical-align: bottom;*/
	line-height: 1em;
	height: auto;
	width: 1.8em;
	padding: 4px 0;
}

.bulleted-list > li {
  list-style-type: disc;
	color: rgba(0,0,0,0.65);
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
}

/* Interface Illustration */
.interface-preview {
	position: relative;
	width: 500px;
	height: 250px;
	margin-bottom: 15px;
}

.interface-window {
	position: absolute;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0,0,0,.2), 0 0 0 .5px rgba(0,0,0,.18);
	overflow: hidden;
	background: white;
}

.interface-toolbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 20px;
	box-shadow: 0 0 0 .5px rgba(0,0,0,.2);
	background: #E8E6E8;
	padding-top: 4px;
	font-size: 10px;
	font-family: "SF UI Text", "HelveticaNeue-Medium";
	text-align: center;
}

.interface-editor {
	background: #333;
	width: 300px;
	height: 240px;
}

.interface-editor .patch {
	width: 40px;
	height: 20px;
	position: absolute;
	padding-top: 20px;
	margin: 0;
	box-shadow: 0 0 0 .5px rgba(0,0,0,.2);
}

.interface-editor .cable {
	margin: 0;
	z-index: 0;
}

.interface-viewer {
	background: white;
	width: 150px;
	height: 240px;
	left: 310px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
}

.interface-viewer-phone {
	width: 90px;
	height: 180px;
	background: #111;
	box-shadow: 0 0 0 1px rgba(0,0,0,.1);
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.interface-viewer-phone-screen {
	width: 82px;
	height: 140px;
	background: #29CCFF;
	display: flex;
	align-items: center;
	justify-content: center;
}

.interface-inspector {
	width: 70px;
	height: 100px;
	left: 220px;
	top: 130px;
	background: #ECECEC;
	padding: 5px;
	padding-top: 25px;
}

.interface-inspector-input {
	width: 40px;
	height: 6px;
	margin-left: 15px;
	margin-bottom: 4px;
}

.interface-library {
	width: 70px;
	height: 140px;
	left: 10px;
	top: 90px;
	background: #ECECEC;
	padding: 5px;
	padding-top: 25px;
}

.interface-library-list {
	width: 100%;
	height: 55px;
	margin-bottom: 5px;
}

.interface-library-docs {
	width: 100%;
	height: 40px;
	margin-bottom: 5px;
}

.interface-library-search {
	width: 100%;
	height: 6px;
}

.interface-input {
	background: white;
	box-shadow: 0 0 0 .5px rgba(0,0,0,.1);
}

/* Pulse and Signal graph illustration */
.pulse-graph {
	position: relative;
	width: 320px;
	height: 200px;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	margin: 30px 0 50px;
}

.pulse-graph-line {
	background: red;
	position: absolute;
	width: 1px;
	height: 1px;
}

.pulse-graph-x-axis {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	text-align: center;
}

.pulse-graph-y-axis-label {
	position: absolute;
	left: 0;
}

.pulse-graph-y-axis-label.top {
	position: absolute;
	top: 0;
}

.pulse-graph-y-axis-label.bottom {
	bottom: 10px;
}

/* Pulse frame illustration */
.frame-reel {
	white-space: nowrap;
	margin: 30px 0;
}

.frame {
	width: 100px;
	background: #EEE;
	margin-right: 10px;
	border-radius: 3px;
	display: inline-block;
	text-align: center;
	font-size: 19px;
	padding: 30px 0;
}

.frame.off {
	color: #CCC;
}

.frame.selected {
	border: 2px solid #CCC;
}

/* Footer nav between docs */
#doc-footer {
	display: flex;
	justify-content: space-between;
	padding: 40px 0 20px;
}

#doc-footer a {
	font-weight: normal;
}

#doc-footer-prev {
	color: #777;
}

#doc-footer-next a {
	color: rgb(0, 114, 255)
}

/* Vimeo embed */
.vimeo-embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .vimeo-embed-container iframe, .vimeo-embed-container object, .vimeo-embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }