.header {
	text-align: center;
	max-width: 470px;
}

#examples {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	max-width: 1200px;
}

.example {
	width: 190px;
	height: 338px;
	-webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
	background-color: rgb(250,250,250);
	margin: 30px 20px;
	overflow: hidden;
}

.aVideo {
	width: 190px;
	height: 338px;
}

#example1 {
	background-color: black;
	position: relative;
}

#example1 .backpane {
	background-color: rgb(89, 130, 144);
	width: 100%;
	height: 100%;
	-webkit-animation: backpane-anim 1.0167s infinite;
	-webkit-animation-direction: alternate-reverse;
	position: absolute;
}

#example1 .frontpane {
	background-color: rgb(233, 247, 247);
	width: 100%;
	height: 100%;
	-webkit-animation:frontpane-anim 1.0167s infinite;
	-webkit-animation-direction: alternate-reverse;
	position: absolute;
}

#example1 .nav-bar {
	background-color: rgb(181, 225, 226);
	width: 100%;
	height: 12%;
}

#example1 .touchpoint {
	width: 50px;
	height: 50px;
	background-image: url('../images/touch-point.png');
	background-size: contain;
	position: absolute;
	top: 50%; left: 50%;
	margin-top: -25px; margin-left: -25px;
	-webkit-animation:touchpoint-anim 1.0167s infinite;
	-webkit-animation-direction: alternate-reverse;
}

@-webkit-keyframes touchpoint-anim {
	0.0000% { -webkit-transform: translate3d(-58.5560px, 30.7147px, 0);  }
	1.6393% { -webkit-transform: translate3d(-58.5560px, 30.7147px, 0);  }
	3.2787% { -webkit-transform: translate3d(-58.5560px, 30.7147px, 0);  }
	4.9180% { -webkit-transform: translate3d(-58.5560px, 30.7147px, 0);  }
	6.5574% { -webkit-transform: translate3d(-58.5560px, 30.7147px, 0);  }
	8.1967% { -webkit-transform: translate3d(-58.5560px, 30.7147px, 0);  }
	9.8361% { -webkit-transform: translate3d(-58.5560px, 30.7147px, 0);  }
	11.4754% { -webkit-transform: translate3d(-58.5560px, 30.7147px, 0);  }
	13.1148% { -webkit-transform: translate3d(-58.5560px, 30.7147px, 0);  }
	14.7541% { -webkit-transform: translate3d(-58.5560px, 30.7147px, 0);  }
	16.3934% { -webkit-transform: translate3d(-58.5560px, 30.7147px, 0);  }
	18.0328% { -webkit-transform: translate3d(-57.8114px, 30.7147px, 0);  }
	19.6721% { -webkit-transform: translate3d(-56.2584px, 30.7147px, 0);  }
	21.3115% { -webkit-transform: translate3d(-53.1581px, 30.7147px, 0);  }
	22.9508% { -webkit-transform: translate3d(-49.2784px, 30.7147px, 0);  }
	24.5902% { -webkit-transform: translate3d(-46.1753px, 30.7147px, 0);  }
	26.2295% { -webkit-transform: translate3d(-42.2985px, 30.7147px, 0);  }
	27.8689% { -webkit-transform: translate3d(-39.9718px, 30.7147px, 0);  }
	29.5082% { -webkit-transform: translate3d(-36.8687px, 30.7147px, 0);  }
	31.1475% { -webkit-transform: translate3d(-33.7655px, 30.7147px, 0);  }
	32.7869% { -webkit-transform: translate3d(-29.8858px, 30.7147px, 0);  }
	34.4262% { -webkit-transform: translate3d(-26.0090px, 30.7147px, 0);  }
	36.0656% { -webkit-transform: translate3d(-22.1294px, 30.7147px, 0);  }
	37.7049% { -webkit-transform: translate3d(-19.8027px, 30.7147px, 0);  }
	39.3443% { -webkit-transform: translate3d(-15.9259px, 30.7147px, 0);  }
	40.9836% { -webkit-transform: translate3d(-12.0462px, 30.7147px, 0);  }
	42.6230% { -webkit-transform: translate3d(-8.4254px, 30.7147px, 0);  }
	44.2623% { -webkit-transform: translate3d(-3.7721px, 30.7147px, 0);  }
	45.9016% { -webkit-transform: translate3d(0.1047px, 30.7147px, 0);  }
	47.5410% { -webkit-transform: translate3d(3.9844px, 30.7147px, 0);  }
	49.1803% { -webkit-transform: translate3d(7.0876px, 30.7147px, 0);  }
	50.8197% { -webkit-transform: translate3d(11.7409px, 30.7147px, 0);  }
	52.4590% { -webkit-transform: translate3d(16.3942px, 30.7147px, 0);  }
	54.0984% { -webkit-transform: translate3d(21.5651px, 30.1970px, 0);  }
	55.7377% { -webkit-transform: translate3d(28.5480px, 29.4205px, 0);  }
	57.3770% { -webkit-transform: translate3d(34.7514px, 28.6440px, 0);  }
	59.0164% { -webkit-transform: translate3d(41.7343px, 28.6440px, 0);  }
	60.6557% { -webkit-transform: translate3d(45.3522px, 28.6440px, 0);  }
	62.2951% { -webkit-transform: translate3d(49.4908px, 28.6440px, 0);  }
	63.9344% { -webkit-transform: translate3d(52.5939px, 28.6440px, 0);  }
	65.5738% { -webkit-transform: translate3d(52.5939px, 28.6440px, 0);  }
	67.2131% { -webkit-transform: translate3d(54.9206px, 28.6440px, 0);  }
	68.8525% { -webkit-transform: translate3d(55.6971px, 28.6440px, 0);  }
	70.4918% { -webkit-transform: translate3d(57.2472px, 28.6440px, 0);  }
	72.1311% { -webkit-transform: translate3d(58.0237px, 28.6440px, 0);  }
	73.7705% { -webkit-transform: translate3d(58.7974px, 29.4205px, 0);  }
	75.4098% { -webkit-transform: translate3d(58.7974px, 29.4205px, 0);  }
	77.0492% { -webkit-transform: translate3d(58.7974px, 29.4205px, 0);  }
	78.6885% { -webkit-transform: translate3d(58.7974px, 29.4205px, 0);  }
	80.3279% { -webkit-transform: translate3d(58.7974px, 29.4205px, 0);  }
	81.9672% { -webkit-transform: translate3d(58.7974px, 29.4205px, 0);  }
	83.6066% { -webkit-transform: translate3d(58.7974px, 29.4205px, 0);  }
	85.2459% { -webkit-transform: translate3d(58.7974px, 29.4205px, 0);  }
	86.8852% { -webkit-transform: translate3d(58.7974px, 29.4205px, 0);  }
	88.5246% { -webkit-transform: translate3d(58.7974px, 29.4205px, 0);  }
	90.1639% { -webkit-transform: translate3d(58.7974px, 29.4205px, 0);  }
	91.8033% { -webkit-transform: translate3d(58.7974px, 29.4205px, 0);  }
	93.4426% { -webkit-transform: translate3d(58.7974px, 29.4205px, 0);  }
	95.0820% { -webkit-transform: translate3d(58.7974px, 29.4205px, 0);  }
	96.7213% { -webkit-transform: translate3d(58.7974px, 29.4205px, 0);  }
	98.3607% { -webkit-transform: translate3d(58.7974px, 29.4205px, 0);  }
	100.0000% { -webkit-transform: translate3d(58.7974px, 29.4205px, 0);  }
}

@-webkit-keyframes frontpane-anim {
	0.0000% { -webkit-transform: translate3d(-0.0000px, 0, 0); }
	1.6393% { -webkit-transform: translate3d(-0.0000px, 0, 0); }
	3.2787% { -webkit-transform: translate3d(-0.0000px, 0, 0); }
	4.9180% { -webkit-transform: translate3d(-0.0000px, 0, 0); }
	6.5574% { -webkit-transform: translate3d(-0.0000px, 0, 0); }
	8.1967% { -webkit-transform: translate3d(-0.0000px, 0, 0); }
	9.8361% { -webkit-transform: translate3d(-0.0000px, 0, 0); }
	11.4754% { -webkit-transform: translate3d(-0.0000px, 0, 0); }
	13.1148% { -webkit-transform: translate3d(-0.0000px, 0, 0); }
	14.7541% { -webkit-transform: translate3d(-0.0000px, 0, 0); }
	16.3934% { -webkit-transform: translate3d(-0.0000px, 0, 0); }
	18.0328% { -webkit-transform: translate3d(0.3723px, 0, 0); }
	19.6721% { -webkit-transform: translate3d(1.9253px, 0, 0); }
	21.3115% { -webkit-transform: translate3d(5.0256px, 0, 0); }
	22.9508% { -webkit-transform: translate3d(8.9053px, 0, 0); }
	24.5902% { -webkit-transform: translate3d(12.0084px, 0, 0); }
	26.2295% { -webkit-transform: translate3d(15.8852px, 0, 0); }
	27.8689% { -webkit-transform: translate3d(18.2119px, 0, 0); }
	29.5082% { -webkit-transform: translate3d(21.3150px, 0, 0); }
	31.1475% { -webkit-transform: translate3d(24.4182px, 0, 0); }
	32.7869% { -webkit-transform: translate3d(28.2979px, 0, 0); }
	34.4262% { -webkit-transform: translate3d(32.1747px, 0, 0); }
	36.0656% { -webkit-transform: translate3d(36.0544px, 0, 0); }
	37.7049% { -webkit-transform: translate3d(38.3810px, 0, 0); }
	39.3443% { -webkit-transform: translate3d(42.2578px, 0, 0); }
	40.9836% { -webkit-transform: translate3d(46.1375px, 0, 0); }
	42.6230% { -webkit-transform: translate3d(49.7583px, 0, 0); }
	44.2623% { -webkit-transform: translate3d(54.4116px, 0, 0); }
	45.9016% { -webkit-transform: translate3d(58.2884px, 0, 0); }
	47.5410% { -webkit-transform: translate3d(62.1681px, 0, 0); }
	49.1803% { -webkit-transform: translate3d(65.2713px, 0, 0); }
	50.8197% { -webkit-transform: translate3d(69.9246px, 0, 0); }
	52.4590% { -webkit-transform: translate3d(74.5779px, 0, 0); }
	54.0984% { -webkit-transform: translate3d(79.7488px, 0, 0); }
	55.7377% { -webkit-transform: translate3d(86.7317px, 0, 0); }
	57.3770% { -webkit-transform: translate3d(92.9351px, 0, 0); }
	59.0164% { -webkit-transform: translate3d(100.6561px, 0, 0); }
	60.6557% { -webkit-transform: translate3d(107.7979px, 0, 0); }
	62.2951% { -webkit-transform: translate3d(114.1634px, 0, 0); }
	63.9344% { -webkit-transform: translate3d(119.6746px, 0, 0); }
	65.5738% { -webkit-transform: translate3d(124.3323px, 0, 0); }
	67.2131% { -webkit-transform: translate3d(128.1868px, 0, 0); }
	68.8525% { -webkit-transform: translate3d(131.3158px, 0, 0); }
	70.4918% { -webkit-transform: translate3d(133.8102px, 0, 0); }
	72.1311% { -webkit-transform: translate3d(135.7635px, 0, 0); }
	73.7705% { -webkit-transform: translate3d(137.2654px, 0, 0); }
	75.4098% { -webkit-transform: translate3d(138.3984px, 0, 0); }
	77.0492% { -webkit-transform: translate3d(139.2351px, 0, 0); }
	78.6885% { -webkit-transform: translate3d(139.8383px, 0, 0); }
	80.3279% { -webkit-transform: translate3d(140.2607px, 0, 0); }
	81.9672% { -webkit-transform: translate3d(140.5456px, 0, 0); }
	83.6066% { -webkit-transform: translate3d(140.7281px, 0, 0); }
	85.2459% { -webkit-transform: translate3d(140.8361px, 0, 0); }
	86.8852% { -webkit-transform: translate3d(140.8913px, 0, 0); }
	88.5246% { -webkit-transform: translate3d(140.9103px, 0, 0); }
	90.1639% { -webkit-transform: translate3d(140.9056px, 0, 0); }
	91.8033% { -webkit-transform: translate3d(140.8863px, 0, 0); }
	93.4426% { -webkit-transform: translate3d(140.8592px, 0, 0); }
	95.0820% { -webkit-transform: translate3d(140.8286px, 0, 0); }
	96.7213% { -webkit-transform: translate3d(140.7977px, 0, 0); }
	98.3607% { -webkit-transform: translate3d(140.7684px, 0, 0); }
	100.0000% { -webkit-transform: translate3d(140.7417px, 0, 0); }
}

@-webkit-keyframes backpane-anim {
	0.0000% { -webkit-transform: scale3d(0.9000, 0.9000, 1.0); opacity: 0.5000;  }
	1.6393% { -webkit-transform: scale3d(0.9000, 0.9000, 1.0); opacity: 0.5000;  }
	3.2787% { -webkit-transform: scale3d(0.9000, 0.9000, 1.0); opacity: 0.5000;  }
	4.9180% { -webkit-transform: scale3d(0.9000, 0.9000, 1.0); opacity: 0.5000;  }
	6.5574% { -webkit-transform: scale3d(0.9000, 0.9000, 1.0); opacity: 0.5000;  }
	8.1967% { -webkit-transform: scale3d(0.9000, 0.9000, 1.0); opacity: 0.5000;  }
	9.8361% { -webkit-transform: scale3d(0.9000, 0.9000, 1.0); opacity: 0.5000;  }
	11.4754% { -webkit-transform: scale3d(0.9000, 0.9000, 1.0); opacity: 0.5000;  }
	13.1148% { -webkit-transform: scale3d(0.9000, 0.9000, 1.0); opacity: 0.5000;  }
	14.7541% { -webkit-transform: scale3d(0.9000, 0.9000, 1.0); opacity: 0.5000;  }
	16.3934% { -webkit-transform: scale3d(0.9000, 0.9000, 1.0); opacity: 0.5000;  }
	18.0328% { -webkit-transform: scale3d(0.9003, 0.9003, 1.0); opacity: 0.5013;  }
	19.6721% { -webkit-transform: scale3d(0.9014, 0.9014, 1.0); opacity: 0.5068;  }
	21.3115% { -webkit-transform: scale3d(0.9036, 0.9036, 1.0); opacity: 0.5179;  }
	22.9508% { -webkit-transform: scale3d(0.9063, 0.9063, 1.0); opacity: 0.5317;  }
	24.5902% { -webkit-transform: scale3d(0.9085, 0.9085, 1.0); opacity: 0.5427;  }
	26.2295% { -webkit-transform: scale3d(0.9113, 0.9113, 1.0); opacity: 0.5565;  }
	27.8689% { -webkit-transform: scale3d(0.9130, 0.9130, 1.0); opacity: 0.5648;  }
	29.5082% { -webkit-transform: scale3d(0.9152, 0.9152, 1.0); opacity: 0.5758;  }
	31.1475% { -webkit-transform: scale3d(0.9174, 0.9174, 1.0); opacity: 0.5868;  }
	32.7869% { -webkit-transform: scale3d(0.9201, 0.9201, 1.0); opacity: 0.6006;  }
	34.4262% { -webkit-transform: scale3d(0.9229, 0.9229, 1.0); opacity: 0.6144;  }
	36.0656% { -webkit-transform: scale3d(0.9256, 0.9256, 1.0); opacity: 0.6282;  }
	37.7049% { -webkit-transform: scale3d(0.9273, 0.9273, 1.0); opacity: 0.6365;  }
	39.3443% { -webkit-transform: scale3d(0.9300, 0.9300, 1.0); opacity: 0.6502;  }
	40.9836% { -webkit-transform: scale3d(0.9328, 0.9328, 1.0); opacity: 0.6640;  }
	42.6230% { -webkit-transform: scale3d(0.9354, 0.9354, 1.0); opacity: 0.6769;  }
	44.2623% { -webkit-transform: scale3d(0.9387, 0.9387, 1.0); opacity: 0.6935;  }
	45.9016% { -webkit-transform: scale3d(0.9414, 0.9414, 1.0); opacity: 0.7072;  }
	47.5410% { -webkit-transform: scale3d(0.9442, 0.9442, 1.0); opacity: 0.7210;  }
	49.1803% { -webkit-transform: scale3d(0.9464, 0.9464, 1.0); opacity: 0.7321;  }
	50.8197% { -webkit-transform: scale3d(0.9497, 0.9497, 1.0); opacity: 0.7486;  }
	52.4590% { -webkit-transform: scale3d(0.9530, 0.9530, 1.0); opacity: 0.7652;  }
	54.0984% { -webkit-transform: scale3d(0.9567, 0.9567, 1.0); opacity: 0.7836;  }
	55.7377% { -webkit-transform: scale3d(0.9617, 0.9617, 1.0); opacity: 0.8084;  }
	57.3770% { -webkit-transform: scale3d(0.9661, 0.9661, 1.0); opacity: 0.8304;  }
	59.0164% { -webkit-transform: scale3d(0.9716, 0.9716, 1.0); opacity: 0.8579;  }
	60.6557% { -webkit-transform: scale3d(0.9767, 0.9767, 1.0); opacity: 0.8833;  }
	62.2951% { -webkit-transform: scale3d(0.9812, 0.9812, 1.0); opacity: 0.9059;  }
	63.9344% { -webkit-transform: scale3d(0.9851, 0.9851, 1.0); opacity: 0.9255;  }
	65.5738% { -webkit-transform: scale3d(0.9884, 0.9884, 1.0); opacity: 0.9421;  }
	67.2131% { -webkit-transform: scale3d(0.9912, 0.9912, 1.0); opacity: 0.9558;  }
	68.8525% { -webkit-transform: scale3d(0.9934, 0.9934, 1.0); opacity: 0.9669;  }
	70.4918% { -webkit-transform: scale3d(0.9952, 0.9952, 1.0); opacity: 0.9758;  }
	72.1311% { -webkit-transform: scale3d(0.9965, 0.9965, 1.0); opacity: 0.9827;  }
	73.7705% { -webkit-transform: scale3d(0.9976, 0.9976, 1.0); opacity: 0.9881;  }
	75.4098% { -webkit-transform: scale3d(0.9984, 0.9984, 1.0); opacity: 0.9921;  }
	77.0492% { -webkit-transform: scale3d(0.9990, 0.9990, 1.0); opacity: 0.9951;  }
	78.6885% { -webkit-transform: scale3d(0.9994, 0.9994, 1.0); opacity: 0.9972;  }
	80.3279% { -webkit-transform: scale3d(0.9997, 0.9997, 1.0); opacity: 0.9987;  }
	81.9672% { -webkit-transform: scale3d(0.9999, 0.9999, 1.0); opacity: 0.9997;  }
	83.6066% { -webkit-transform: scale3d(1.0001, 1.0001, 1.0); opacity: 1.0000;  }
	85.2459% { -webkit-transform: scale3d(1.0002, 1.0002, 1.0); opacity: 1.0000;  }
	86.8852% { -webkit-transform: scale3d(1.0002, 1.0002, 1.0); opacity: 1.0000;  }
	88.5246% { -webkit-transform: scale3d(1.0002, 1.0002, 1.0); opacity: 1.0000;  }
	90.1639% { -webkit-transform: scale3d(1.0002, 1.0002, 1.0); opacity: 1.0000;  }
	91.8033% { -webkit-transform: scale3d(1.0002, 1.0002, 1.0); opacity: 1.0000;  }
	93.4426% { -webkit-transform: scale3d(1.0002, 1.0002, 1.0); opacity: 1.0000;  }
	95.0820% { -webkit-transform: scale3d(1.0001, 1.0001, 1.0); opacity: 1.0000;  }
	96.7213% { -webkit-transform: scale3d(1.0001, 1.0001, 1.0); opacity: 1.0000;  }
	98.3607% { -webkit-transform: scale3d(1.0001, 1.0001, 1.0); opacity: 1.0000;  }
	100.0000% { -webkit-transform: scale3d(1.0001, 1.0001, 1.0); opacity: 1.0000;  }
}