.buttons {
	list-style: none;
	display: inline-block;
}

.buttons li {
	float: left;
	border-radius: 4px;
	border-width: 1px;
	border-color: white;
	border-style: solid;
}

.buttons li:active,
.buttons li.active {
	background-color: rgba(255, 255, 255, .3);
}

.gradient-divider {
	width: 100%;
	height: 300px;
	position: absolute;
	bottom: 0px;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.06));
	border-bottom-color: rgba(0,0,0,0.08);
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

/* Hero Section */

#section-hero {
	background-image: url('../images/hero.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	min-height: 500px;
	color: white;
}

#section-hero p::selection {
	background: rgba(255, 255, 255, .3);	
}

#hero-content-wrapper {
	display: -webkit-flex;
	display: flex;
	align-items: center;
	height: 100vh;
	/*max-height: 760px;*/
}

#hero-content {
	max-width: 400px;
	margin-left: 7%;
	margin-top: auto;
	margin-bottom: auto;
	padding-bottom: 20px;
}

#hero-content .logo {
	background-image: url('../images/logo-big-2x.png');
	background-size: contain;
	width: 257px;
	height: 92px;
	margin-bottom: 36px;
}

/* Gestures Section */

#section-gestures {
	position: relative;
	padding-bottom: 70px;
}

#gesture-types {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

#gesture-types h2 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 27px;
	padding-bottom: 14px;
}

.gesture-type {
	width: 290px;
	margin: 0 25px;
}

.gesture-type p {
	height: 110px;
}

.gesture-animation {
	background-size: cover;
	background-position: center;
	background-color: black;
	width: 168px;
	height: 299px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
	position: relative;
	overflow: hidden;
}

.gesture-animation div {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
}

#scroll-gesture .gesture-animation {
	background-image: url('../images/messenger-sticker-composer.jpg');
}

#scroll-gesture .gesture-animation div {
	-webkit-animation-duration: 3.5s;
	-webkit-animation-iteration-count: infinite;
}

#scroll-gesture .touchpoint {
	margin: auto;
	top: 0;
	bottom: 0;
	-webkit-animation-name: sticker-scroll-touch;
}

#scroll-stickers {
	background-size: contain;
	background-position: center;
	background-image: url('../images/messenger-stickers.jpg');
	width: 505px;
	height: 98px;
	top: 183px;
	position: absolute;
	-webkit-animation-name: sticker-scroll;	
}

@-webkit-keyframes sticker-scroll-touch {
	0.0000% { -webkit-transform: translate3d(52.2672px, 85.0334px, 0); opacity: 0.0000; }
	0.5155% { -webkit-transform: translate3d(52.8906px, 85.0334px, 0); opacity: 0.0000; }
	1.0309% { -webkit-transform: translate3d(53.3582px, 85.0334px, 0); opacity: 0.0000; }
	1.5464% { -webkit-transform: translate3d(53.8240px, 85.0334px, 0); opacity: 0.0000; }
	2.0619% { -webkit-transform: translate3d(54.7591px, 85.0334px, 0); opacity: 0.0000; }
	2.5773% { -webkit-transform: translate3d(55.6925px, 85.0334px, 0); opacity: 0.0000; }
	3.0928% { -webkit-transform: translate3d(56.1601px, 85.0334px, 0); opacity: 0.0000; }
	3.6082% { -webkit-transform: translate3d(56.7835px, 85.0334px, 0); opacity: 0.0000; }
	4.1237% { -webkit-transform: translate3d(57.2493px, 85.0334px, 0); opacity: 0.0000; }
	4.6392% { -webkit-transform: translate3d(57.2493px, 85.0334px, 0); opacity: 0.0000; }
	5.1546% { -webkit-transform: translate3d(57.2493px, 85.0334px, 0); opacity: 0.0000; }
	5.6701% { -webkit-transform: translate3d(57.2493px, 84.5676px, 0); opacity: 0.0000; }
	6.1856% { -webkit-transform: translate3d(57.2493px, 84.5676px, 0); opacity: 0.0000; }
	6.7010% { -webkit-transform: translate3d(57.2493px, 84.5676px, 0); opacity: 1.0000;  }
	7.2165% { -webkit-transform: translate3d(57.2493px, 84.5676px, 0); opacity: 1.0000;  }
	7.7320% { -webkit-transform: translate3d(56.3159px, 84.5676px, 0); opacity: 1.0000;  }
	8.2474% { -webkit-transform: translate3d(56.3159px, 84.5676px, 0); opacity: 1.0000;  }
	8.7629% { -webkit-transform: translate3d(53.9799px, 84.5676px, 0); opacity: 1.0000;  }
	9.2784% { -webkit-transform: translate3d(49.3095px, 84.5676px, 0); opacity: 1.0000;  }
	9.7938% { -webkit-transform: translate3d(39.9687px, 84.5676px, 0); opacity: 1.0000;  }
	10.3093% { -webkit-transform: translate3d(27.3586px, 84.5676px, 0); opacity: 1.0000;  }
	10.8247% { -webkit-transform: translate3d(12.4123px, 84.5676px, 0); opacity: 1.0000;  }
	11.3402% { -webkit-transform: translate3d(-5.3358px, 81.7640px, 0); opacity: 1.0000;  }
	11.8557% { -webkit-transform: translate3d(-16.0775px, 80.8306px, 0); opacity: 1.0000;  }
	12.3711% { -webkit-transform: translate3d(-28.6877px, 79.4297px, 0); opacity: 1.0000;  }
	12.8866% { -webkit-transform: translate3d(-34.7590px, 79.4297px, 0); opacity: 1.0000;  }
	13.4021% { -webkit-transform: translate3d(-41.0352px, 79.4297px, 0); opacity: 1.0000;  }
	13.9175% { -webkit-transform: translate3d(-42.4379px, 79.4297px, 0); opacity: 1.0000;  }
	14.4330% { -webkit-transform: translate3d(-43.3345px, 79.4297px, 0); opacity: 0.8921;  }
	14.9485% { -webkit-transform: translate3d(-43.3345px, 79.4297px, 0); opacity: 0.7941;  }
	15.4639% { -webkit-transform: translate3d(-43.3345px, 79.4297px, 0); opacity: 0.7002;  }
	15.9794% { -webkit-transform: translate3d(-42.8862px, 79.4297px, 0); opacity: 0.6099;  }
	16.4948% { -webkit-transform: translate3d(-41.4835px, 79.4297px, 0); opacity: 0.5234;  }
	17.0103% { -webkit-transform: translate3d(-39.6168px, 79.4297px, 0); opacity: 0.4447;  }
	17.5258% { -webkit-transform: translate3d(-36.3473px, 79.4297px, 0); opacity: 0.3762;  }
	18.0412% { -webkit-transform: translate3d(-31.2094px, 79.4297px, 0); opacity: 0.3088;  }
	18.5567% { -webkit-transform: translate3d(-26.0714px, 79.4297px, 0); opacity: 0.2500;  }
	19.0722% { -webkit-transform: translate3d(-20.4659px, 79.4297px, 0); opacity: 0.1976;  }
	19.5876% { -webkit-transform: translate3d(-16.2631px, 79.4297px, 0); opacity: 0.1512;  }
	20.1031% { -webkit-transform: translate3d(-10.3477px, 79.4297px, 0); opacity: 0.1114;  }
	20.6186% { -webkit-transform: translate3d(-5.2097px, 79.4297px, 0); opacity: 0.0772;  }
	21.1340% { -webkit-transform: translate3d(-1.0069px, 79.4297px, 0); opacity: 0.0504;  }
	21.6495% { -webkit-transform: translate3d(3.1976px, 79.4297px, 0); opacity: 0.0289;  }
	22.1649% { -webkit-transform: translate3d(6.9329px, 79.4297px, 0); opacity: 0.0123;  }
	22.6804% { -webkit-transform: translate3d(11.1375px, 79.4297px, 0); opacity: 0.0031;  }
	23.1959% { -webkit-transform: translate3d(14.8727px, 79.4297px, 0); opacity: 0.0000;  }
	23.7113% { -webkit-transform: translate3d(18.6097px, 79.4297px, 0);  }
	24.2268% { -webkit-transform: translate3d(21.8791px, 79.8955px, 0);  }
	24.7423% { -webkit-transform: translate3d(25.1486px, 79.8955px, 0);  }
	25.2577% { -webkit-transform: translate3d(28.8856px, 80.3630px, 0);  }
	25.7732% { -webkit-transform: translate3d(32.1550px, 80.8306px, 0);  }
	26.2887% { -webkit-transform: translate3d(34.0235px, 81.2982px, 0);  }
	26.8041% { -webkit-transform: translate3d(34.9569px, 81.2982px, 0);  }
	27.3196% { -webkit-transform: translate3d(34.9569px, 81.2982px, 0);  }
	27.8351% { -webkit-transform: translate3d(35.8903px, 81.2982px, 0);  }
	28.3505% { -webkit-transform: translate3d(36.3578px, 81.2982px, 0);  }
	28.8660% { -webkit-transform: translate3d(36.3578px, 81.2982px, 0); opacity: 0.0000; }
	29.3814% { -webkit-transform: translate3d(36.3578px, 81.2982px, 0); opacity: 1.0000;  }
	29.8969% { -webkit-transform: translate3d(36.3578px, 81.2982px, 0); opacity: 1.0000;  }
	30.4124% { -webkit-transform: translate3d(35.8903px, 81.2982px, 0); opacity: 1.0000;  }
	30.9278% { -webkit-transform: translate3d(32.1550px, 81.2982px, 0); opacity: 1.0000;  }
	31.4433% { -webkit-transform: translate3d(19.5448px, 81.2982px, 0); opacity: 1.0000;  }
	31.9588% { -webkit-transform: translate3d(2.7301px, 81.2982px, 0); opacity: 1.0000;  }
	32.4742% { -webkit-transform: translate3d(-17.8199px, 81.2982px, 0); opacity: 1.0000;  }
	32.9897% { -webkit-transform: translate3d(-39.7709px, 81.2982px, 0); opacity: 1.0000;  }
	33.5052% { -webkit-transform: translate3d(-52.8486px, 81.2982px, 0); opacity: 1.0000;  }
	34.0206% { -webkit-transform: translate3d(-52.8486px, 81.2982px, 0); opacity: 1.0000;  }
	34.5361% { -webkit-transform: translate3d(-62.1911px, 80.3630px, 0); opacity: 1.0000;  }
	35.0515% { -webkit-transform: translate3d(-68.2624px, 78.9621px, 0); opacity: 1.0000;  }
	35.5670% { -webkit-transform: translate3d(-70.1309px, 78.9621px, 0); opacity: 1.0000;  }
	36.0825% { -webkit-transform: translate3d(-71.0643px, 78.9621px, 0); opacity: 1.0000;  }
	36.5979% { -webkit-transform: translate3d(-71.0643px, 78.9621px, 0); opacity: 0.8922;  }
	37.1134% { -webkit-transform: translate3d(-71.0643px, 78.9621px, 0); opacity: 0.7904;  }
	37.6289% { -webkit-transform: translate3d(-71.0643px, 78.9621px, 0); opacity: 0.6947;  }
	38.1443% { -webkit-transform: translate3d(-71.0643px, 78.9621px, 0); opacity: 0.6087;  }
	38.6598% { -webkit-transform: translate3d(-70.6160px, 78.9621px, 0); opacity: 0.5216;  }
	39.1753% { -webkit-transform: translate3d(-70.1484px, 78.9621px, 0); opacity: 0.4450;  }
	39.6907% { -webkit-transform: translate3d(-69.2151px, 78.9621px, 0); opacity: 0.3750;  }
	40.2062% { -webkit-transform: translate3d(-69.2151px, 78.9621px, 0); opacity: 0.3089;  }
	40.7216% { -webkit-transform: translate3d(-68.9034px, 78.9621px, 0); opacity: 0.2506;  }
	41.2371% { -webkit-transform: translate3d(-68.9034px, 78.9621px, 0); opacity: 0.1977;  }
	41.7526% { -webkit-transform: translate3d(-68.4358px, 78.9621px, 0); opacity: 0.1517;  }
	42.2680% { -webkit-transform: translate3d(-67.9875px, 78.9621px, 0); opacity: 0.1129;  }
	42.7835% { -webkit-transform: translate3d(-67.0541px, 78.9621px, 0); opacity: 0.0773;  }
	43.2990% { -webkit-transform: translate3d(-66.1207px, 78.9621px, 0); opacity: 0.0497;  }
	43.8144% { -webkit-transform: translate3d(-65.6532px, 78.9621px, 0); opacity: 0.0280;  }
	44.3299% { -webkit-transform: translate3d(-64.7181px, 78.9621px, 0); opacity: 0.0125;  }
	44.8454% { -webkit-transform: translate3d(-63.7847px, 78.9621px, 0); opacity: 0.0031;  }
	45.3608% { -webkit-transform: translate3d(-61.9162px, 78.9621px, 0); opacity: 0.0000;  }
	45.8763% { -webkit-transform: translate3d(-60.0477px, 78.9621px, 0);  }
	46.3918% { -webkit-transform: translate3d(-58.1792px, 78.9621px, 0);  }
	46.9072% { -webkit-transform: translate3d(-56.7782px, 78.9621px, 0);  }
	47.4227% { -webkit-transform: translate3d(-55.3773px, 78.9621px, 0);  }
	47.9381% { -webkit-transform: translate3d(-53.9764px, 78.9621px, 0);  }
	48.4536% { -webkit-transform: translate3d(-53.0430px, 78.9621px, 0);  }
	48.9691% { -webkit-transform: translate3d(-52.4196px, 78.9621px, 0);  }
	49.4845% { -webkit-transform: translate3d(-51.9520px, 78.9621px, 0);  }
	50.0000% { -webkit-transform: translate3d(-51.0186px, 78.9621px, 0);  }
	50.5155% { -webkit-transform: translate3d(-50.5511px, 78.9621px, 0);  }
	51.0309% { -webkit-transform: translate3d(-50.0853px, 78.9621px, 0);  }
	51.5464% { -webkit-transform: translate3d(-49.6177px, 78.9621px, 0);  }
	52.0619% { -webkit-transform: translate3d(-49.6177px, 78.9621px, 0);  }
	52.5773% { -webkit-transform: translate3d(-49.1501px, 78.9621px, 0);  }
	53.0928% { -webkit-transform: translate3d(-48.5267px, 78.9621px, 0);  }
	53.6082% { -webkit-transform: translate3d(-48.2168px, 78.9621px, 0);  }
	54.1237% { -webkit-transform: translate3d(-47.7685px, 78.9621px, 0); opacity: 0.0000; }
	54.6392% { -webkit-transform: translate3d(-47.7685px, 78.9621px, 0); opacity: 1.0000;  }
	55.1546% { -webkit-transform: translate3d(-47.1450px, 78.9621px, 0); opacity: 1.0000;  }
	55.6701% { -webkit-transform: translate3d(-45.2765px, 78.9621px, 0); opacity: 1.0000;  }
	56.1856% { -webkit-transform: translate3d(-42.4747px, 78.9621px, 0); opacity: 1.0000;  }
	56.7010% { -webkit-transform: translate3d(-38.7377px, 78.9621px, 0); opacity: 1.0000;  }
	57.2165% { -webkit-transform: translate3d(-34.5349px, 78.9621px, 0); opacity: 1.0000;  }
	57.7320% { -webkit-transform: translate3d(-29.8645px, 78.9621px, 0); opacity: 1.0000;  }
	58.2474% { -webkit-transform: translate3d(-25.1941px, 78.9621px, 0); opacity: 1.0000;  }
	58.7629% { -webkit-transform: translate3d(-19.5886px, 78.9621px, 0); opacity: 1.0000;  }
	59.2784% { -webkit-transform: translate3d(-11.6488px, 78.9621px, 0); opacity: 1.0000;  }
	59.7938% { -webkit-transform: translate3d(-6.9784px, 78.9621px, 0); opacity: 1.0000;  }
	60.3093% { -webkit-transform: translate3d(-0.9071px, 78.9621px, 0); opacity: 1.0000;  }
	60.8247% { -webkit-transform: translate3d(6.0993px, 78.9621px, 0); opacity: 1.0000;  }
	61.3402% { -webkit-transform: translate3d(12.1706px, 78.9621px, 0); opacity: 1.0000;  }
	61.8557% { -webkit-transform: translate3d(17.4644px, 78.9621px, 0); opacity: 1.0000;  }
	62.3711% { -webkit-transform: translate3d(20.5780px, 78.9621px, 0); opacity: 1.0000;  }
	62.8866% { -webkit-transform: translate3d(23.3799px, 78.9621px, 0); opacity: 1.0000;  }
	63.4021% { -webkit-transform: translate3d(25.1731px, 78.9621px, 0); opacity: 1.0000;  }
	63.9175% { -webkit-transform: translate3d(25.1731px, 78.9621px, 0); opacity: 1.0000;  }
	64.4330% { -webkit-transform: translate3d(25.1731px, 78.9621px, 0); opacity: 0.8923;  }
	64.9485% { -webkit-transform: translate3d(25.1731px, 78.9621px, 0); opacity: 0.7903;  }
	65.4639% { -webkit-transform: translate3d(25.1731px, 78.9621px, 0); opacity: 0.6943;  }
	65.9794% { -webkit-transform: translate3d(25.1731px, 78.9621px, 0); opacity: 0.6051;  }
	66.4948% { -webkit-transform: translate3d(25.1731px, 78.9621px, 0); opacity: 0.5219;  }
	67.0103% { -webkit-transform: translate3d(25.1731px, 78.9621px, 0); opacity: 0.4446;  }
	67.5258% { -webkit-transform: translate3d(23.8282px, 78.9621px, 0); opacity: 0.3733;  }
	68.0412% { -webkit-transform: translate3d(21.4921px, 78.9621px, 0); opacity: 0.3103;  }
	68.5567% { -webkit-transform: translate3d(19.1578px, 78.9621px, 0); opacity: 0.2499;  }
	69.0722% { -webkit-transform: translate3d(15.4208px, 78.9621px, 0); opacity: 0.1985;  }
	69.5876% { -webkit-transform: translate3d(12.1514px, 78.0287px, 0); opacity: 0.1510;  }
	70.1031% { -webkit-transform: translate3d(3.7440px, 77.0936px, 0); opacity: 0.1121;  }
	70.6186% { -webkit-transform: translate3d(-4.1958px, 75.2251px, 0); opacity: 0.0772;  }
	71.1340% { -webkit-transform: translate3d(-9.3320px, 74.2917px, 0); opacity: 0.0493;  }
	71.6495% { -webkit-transform: translate3d(-14.0024px, 73.3566px, 0); opacity: 0.0282;  }
	72.1649% { -webkit-transform: translate3d(-16.3384px, 72.8908px, 0); opacity: 0.0124;  }
	72.6804% { -webkit-transform: translate3d(-18.2069px, 72.4232px, 0); opacity: 0.0032;  }
	73.1959% { -webkit-transform: translate3d(-20.0754px, 71.4898px, 0); opacity: 0.0000;  }
	73.7113% { -webkit-transform: translate3d(-21.4764px, 71.4898px, 0);  }
	74.2268% { -webkit-transform: translate3d(-23.3449px, 71.0223px, 0);  }
	74.7423% { -webkit-transform: translate3d(-24.7458px, 71.0223px, 0);  }
	75.2577% { -webkit-transform: translate3d(-26.6143px, 70.5547px, 0);  }
	75.7732% { -webkit-transform: translate3d(-27.8594px, 70.5547px, 0);  }
	76.2887% { -webkit-transform: translate3d(-28.3270px, 70.5547px, 0);  }
	76.8041% { -webkit-transform: translate3d(-28.7928px, 70.5547px, 0);  }
	77.3196% { -webkit-transform: translate3d(-28.7928px, 70.5547px, 0);  }
	77.8351% { -webkit-transform: translate3d(-28.7928px, 70.5547px, 0); opacity: 0.0000; }
	78.3505% { -webkit-transform: translate3d(-28.7928px, 70.5547px, 0); opacity: 1.0000;  }
	78.8660% { -webkit-transform: translate3d(-28.7928px, 70.5547px, 0); opacity: 1.0000;  }
	79.3814% { -webkit-transform: translate3d(-27.8594px, 70.5547px, 0); opacity: 1.0000;  }
	79.8969% { -webkit-transform: translate3d(-27.8594px, 70.5547px, 0); opacity: 1.0000;  }
	80.4124% { -webkit-transform: translate3d(-23.6548px, 70.5547px, 0); opacity: 1.0000;  }
	80.9278% { -webkit-transform: translate3d(-18.0511px, 70.5547px, 0); opacity: 1.0000;  }
	81.4433% { -webkit-transform: translate3d(-10.1113px, 70.5547px, 0); opacity: 1.0000;  }
	81.9588% { -webkit-transform: translate3d(-2.1715px, 70.5547px, 0); opacity: 1.0000;  }
	82.4742% { -webkit-transform: translate3d(7.1693px, 70.5547px, 0); opacity: 1.0000;  }
	82.9897% { -webkit-transform: translate3d(16.9776px, 70.5547px, 0); opacity: 1.0000;  }
	83.5052% { -webkit-transform: translate3d(25.3850px, 70.5547px, 0); opacity: 1.0000;  }
	84.0206% { -webkit-transform: translate3d(31.9239px, 70.5547px, 0); opacity: 1.0000;  }
	84.5361% { -webkit-transform: translate3d(37.0618px, 70.5547px, 0); opacity: 1.0000;  }
	85.0515% { -webkit-transform: translate3d(42.6656px, 70.5547px, 0); opacity: 1.0000;  }
	85.5670% { -webkit-transform: translate3d(46.0908px, 70.2430px, 0); opacity: 1.0000;  }
	86.0825% { -webkit-transform: translate3d(49.3603px, 70.7106px, 0); opacity: 1.0000;  }
	86.5979% { -webkit-transform: translate3d(49.3603px, 70.7106px, 0); opacity: 0.7901;  }
	87.1134% { -webkit-transform: translate3d(49.3603px, 70.7106px, 0); opacity: 0.6049;  }
	87.6289% { -webkit-transform: translate3d(49.3603px, 70.7106px, 0); opacity: 0.4444;  }
	88.1443% { -webkit-transform: translate3d(49.3603px, 70.7106px, 0); opacity: 0.3086;  }
	88.6598% { -webkit-transform: translate3d(49.3603px, 70.7106px, 0); opacity: 0.1989;  }
	89.1753% { -webkit-transform: translate3d(49.3603px, 70.7106px, 0); opacity: 0.1111;  }
	89.6907% { -webkit-transform: translate3d(49.3603px, 70.7106px, 0); opacity: 0.0493;  }
	90.2062% { -webkit-transform: translate3d(49.3603px, 70.7106px, 0); opacity: 0.0128;  }
	90.7216% { -webkit-transform: translate3d(49.3603px, 70.7106px, 0); opacity: 0.0000;  }
	91.2371% { -webkit-transform: translate3d(49.3603px, 70.7106px, 0);  }
	91.7526% { -webkit-transform: translate3d(49.3603px, 70.7106px, 0);  }
	92.2680% { -webkit-transform: translate3d(49.3603px, 70.7106px, 0);  }
	92.7835% { -webkit-transform: translate3d(49.3603px, 70.7106px, 0);  }
	93.2990% { -webkit-transform: translate3d(49.3603px, 70.7106px, 0);  }
	93.8144% { -webkit-transform: translate3d(49.3603px, 70.7106px, 0);  }
	94.3299% { -webkit-transform: translate3d(49.3603px, 70.7106px, 0);  }
	94.8454% { -webkit-transform: translate3d(49.3603px, 70.7106px, 0);  }
	95.3608% { -webkit-transform: translate3d(49.3603px, 70.7106px, 0);  }
	95.8763% { -webkit-transform: translate3d(49.3603px, 70.7106px, 0);  }
	96.3918% { -webkit-transform: translate3d(49.3603px, 70.7106px, 0);  }
	96.9072% { -webkit-transform: translate3d(49.3603px, 70.7106px, 0);  }
	97.4227% { -webkit-transform: translate3d(49.3603px, 70.7106px, 0);  }
	97.9381% { -webkit-transform: translate3d(49.3603px, 70.7106px, 0);  }
	98.4536% { -webkit-transform: translate3d(49.3603px, 70.7106px, 0);  }
	98.9691% { -webkit-transform: translate3d(49.3603px, 70.7106px, 0);  }
	99.4845% { -webkit-transform: translate3d(49.3603px, 70.7106px, 0);  }
	100.0000% { -webkit-transform: translate3d(49.3603px, 70.7106px, 0); opacity: 0.0000; }
}

@-webkit-keyframes sticker-scroll {
	0.0000% { -webkit-transform: translate3d(0.0001px, 0, 0);  }
	0.5155% { -webkit-transform: translate3d(0.0001px, 0, 0);  }
	1.0309% { -webkit-transform: translate3d(0.0001px, 0, 0);  }
	1.5464% { -webkit-transform: translate3d(0.0000px, 0, 0);  }
	2.0619% { -webkit-transform: translate3d(0.0000px, 0, 0);  }
	2.5773% { -webkit-transform: translate3d(0.0000px, 0, 0);  }
	3.0928% { -webkit-transform: translate3d(0.0000px, 0, 0);  }
	3.6082% { -webkit-transform: translate3d(0.0000px, 0, 0);  }
	4.1237% { -webkit-transform: translate3d(0.0000px, 0, 0);  }
	4.6392% { -webkit-transform: translate3d(0.0000px, 0, 0);  }
	5.1546% { -webkit-transform: translate3d(0.0000px, 0, 0);  }
	5.6701% { -webkit-transform: translate3d(-0.0000px, 0, 0);  }
	6.1856% { -webkit-transform: translate3d(-0.0000px, 0, 0);  }
	6.7010% { -webkit-transform: translate3d(-0.0000px, 0, 0);  }
	7.2165% { -webkit-transform: translate3d(-0.0000px, 0, 0);  }
	7.7320% { -webkit-transform: translate3d(-0.9334px, 0, 0);  }
	8.2474% { -webkit-transform: translate3d(-0.9334px, 0, 0);  }
	8.7629% { -webkit-transform: translate3d(-3.2694px, 0, 0);  }
	9.2784% { -webkit-transform: translate3d(-7.9398px, 0, 0);  }
	9.7938% { -webkit-transform: translate3d(-17.2806px, 0, 0);  }
	10.3093% { -webkit-transform: translate3d(-29.8908px, 0, 0);  }
	10.8247% { -webkit-transform: translate3d(-44.8370px, 0, 0);  }
	11.3402% { -webkit-transform: translate3d(-62.5851px, 0, 0);  }
	11.8557% { -webkit-transform: translate3d(-73.3268px, 0, 0);  }
	12.3711% { -webkit-transform: translate3d(-85.9370px, 0, 0);  }
	12.8866% { -webkit-transform: translate3d(-92.0083px, 0, 0);  }
	13.4021% { -webkit-transform: translate3d(-98.2845px, 0, 0);  }
	13.9175% { -webkit-transform: translate3d(-108.8421px, 0, 0);  }
	14.4330% { -webkit-transform: translate3d(-118.8757px, 0, 0);  }
	14.9485% { -webkit-transform: translate3d(-127.9996px, 0, 0);  }
	15.4639% { -webkit-transform: translate3d(-136.0259px, 0, 0);  }
	15.9794% { -webkit-transform: translate3d(-142.9007px, 0, 0);  }
	16.4948% { -webkit-transform: translate3d(-148.6574px, 0, 0);  }
	17.0103% { -webkit-transform: translate3d(-153.3817px, 0, 0);  }
	17.5258% { -webkit-transform: translate3d(-157.1870px, 0, 0);  }
	18.0412% { -webkit-transform: translate3d(-160.1975px, 0, 0);  }
	18.5567% { -webkit-transform: translate3d(-162.5369px, 0, 0);  }
	19.0722% { -webkit-transform: translate3d(-164.3215px, 0, 0);  }
	19.5876% { -webkit-transform: translate3d(-165.6560px, 0, 0);  }
	20.1031% { -webkit-transform: translate3d(-166.6319px, 0, 0);  }
	20.6186% { -webkit-transform: translate3d(-167.3273px, 0, 0);  }
	21.1340% { -webkit-transform: translate3d(-167.8071px, 0, 0);  }
	21.6495% { -webkit-transform: translate3d(-168.1245px, 0, 0);  }
	22.1649% { -webkit-transform: translate3d(-168.3220px, 0, 0);  }
	22.6804% { -webkit-transform: translate3d(-168.4331px, 0, 0);  }
	23.1959% { -webkit-transform: translate3d(-168.4839px, 0, 0);  }
	23.7113% { -webkit-transform: translate3d(-168.4941px, 0, 0);  }
	24.2268% { -webkit-transform: translate3d(-168.4783px, 0, 0);  }
	24.7423% { -webkit-transform: translate3d(-168.4472px, 0, 0);  }
	25.2577% { -webkit-transform: translate3d(-168.4083px, 0, 0);  }
	25.7732% { -webkit-transform: translate3d(-168.3669px, 0, 0);  }
	26.2887% { -webkit-transform: translate3d(-168.3262px, 0, 0);  }
	26.8041% { -webkit-transform: translate3d(-168.2885px, 0, 0);  }
	27.3196% { -webkit-transform: translate3d(-168.2546px, 0, 0);  }
	27.8351% { -webkit-transform: translate3d(-168.2253px, 0, 0);  }
	28.3505% { -webkit-transform: translate3d(-168.2004px, 0, 0);  }
	28.8660% { -webkit-transform: translate3d(-168.1797px, 0, 0);  }
	29.3814% { -webkit-transform: translate3d(-168.1797px, 0, 0);  }
	29.8969% { -webkit-transform: translate3d(-168.1797px, 0, 0);  }
	30.4124% { -webkit-transform: translate3d(-168.6473px, 0, 0);  }
	30.9278% { -webkit-transform: translate3d(-172.3826px, 0, 0);  }
	31.4433% { -webkit-transform: translate3d(-184.9928px, 0, 0);  }
	31.9588% { -webkit-transform: translate3d(-201.8075px, 0, 0);  }
	32.4742% { -webkit-transform: translate3d(-222.3575px, 0, 0);  }
	32.9897% { -webkit-transform: translate3d(-244.3084px, 0, 0);  }
	33.5052% { -webkit-transform: translate3d(-257.3862px, 0, 0);  }
	34.0206% { -webkit-transform: translate3d(-257.3862px, 0, 0);  }
	34.5361% { -webkit-transform: translate3d(-266.7287px, 0, 0);  }
	35.0515% { -webkit-transform: translate3d(-272.8000px, 0, 0);  }
	35.5670% { -webkit-transform: translate3d(-274.6685px, 0, 0);  }
	36.0825% { -webkit-transform: translate3d(-282.0795px, 0, 0);  }
	36.5979% { -webkit-transform: translate3d(-289.8506px, 0, 0);  }
	37.1134% { -webkit-transform: translate3d(-297.3956px, 0, 0);  }
	37.6289% { -webkit-transform: translate3d(-304.3614px, 0, 0);  }
	38.1443% { -webkit-transform: translate3d(-310.5610px, 0, 0);  }
	38.6598% { -webkit-transform: translate3d(-315.9223px, 0, 0);  }
	39.1753% { -webkit-transform: translate3d(-320.4488px, 0, 0);  }
	39.6907% { -webkit-transform: translate3d(-324.1914px, 0, 0);  }
	40.2062% { -webkit-transform: translate3d(-327.2270px, 0, 0);  }
	40.7216% { -webkit-transform: translate3d(-329.6450px, 0, 0);  }
	41.2371% { -webkit-transform: translate3d(-331.5370px, 0, 0);  }
	41.7526% { -webkit-transform: translate3d(-332.9906px, 0, 0);  }
	42.2680% { -webkit-transform: translate3d(-334.0861px, 0, 0);  }
	42.7835% { -webkit-transform: translate3d(-334.8943px, 0, 0);  }
	43.2990% { -webkit-transform: translate3d(-335.4763px, 0, 0);  }
	43.8144% { -webkit-transform: translate3d(-335.8832px, 0, 0);  }
	44.3299% { -webkit-transform: translate3d(-336.1571px, 0, 0);  }
	44.8454% { -webkit-transform: translate3d(-336.3321px, 0, 0);  }
	45.3608% { -webkit-transform: translate3d(-336.4352px, 0, 0);  }
	45.8763% { -webkit-transform: translate3d(-336.4873px, 0, 0);  }
	46.3918% { -webkit-transform: translate3d(-336.5047px, 0, 0);  }
	46.9072% { -webkit-transform: translate3d(-336.4993px, 0, 0);  }
	47.4227% { -webkit-transform: translate3d(-336.4800px, 0, 0);  }
	47.9381% { -webkit-transform: translate3d(-336.4531px, 0, 0);  }
	48.4536% { -webkit-transform: translate3d(-336.4231px, 0, 0);  }
	48.9691% { -webkit-transform: translate3d(-336.3929px, 0, 0);  }
	49.4845% { -webkit-transform: translate3d(-336.3642px, 0, 0);  }
	50.0000% { -webkit-transform: translate3d(-336.3383px, 0, 0);  }
	50.5155% { -webkit-transform: translate3d(-336.3155px, 0, 0);  }
	51.0309% { -webkit-transform: translate3d(-336.2960px, 0, 0);  }
	51.5464% { -webkit-transform: translate3d(-336.2797px, 0, 0);  }
	52.0619% { -webkit-transform: translate3d(-336.2664px, 0, 0);  }
	52.5773% { -webkit-transform: translate3d(-336.2556px, 0, 0);  }
	53.0928% { -webkit-transform: translate3d(-336.2471px, 0, 0);  }
	53.6082% { -webkit-transform: translate3d(-336.2406px, 0, 0);  }
	54.1237% { -webkit-transform: translate3d(-336.2355px, 0, 0);  }
	54.6392% { -webkit-transform: translate3d(-336.2355px, 0, 0);  }
	55.1546% { -webkit-transform: translate3d(-335.9238px, 0, 0);  }
	55.6701% { -webkit-transform: translate3d(-334.0553px, 0, 0);  }
	56.1856% { -webkit-transform: translate3d(-331.2535px, 0, 0);  }
	56.7010% { -webkit-transform: translate3d(-327.5165px, 0, 0);  }
	57.2165% { -webkit-transform: translate3d(-323.3137px, 0, 0);  }
	57.7320% { -webkit-transform: translate3d(-318.6433px, 0, 0);  }
	58.2474% { -webkit-transform: translate3d(-313.9729px, 0, 0);  }
	58.7629% { -webkit-transform: translate3d(-308.3674px, 0, 0);  }
	59.2784% { -webkit-transform: translate3d(-300.4276px, 0, 0);  }
	59.7938% { -webkit-transform: translate3d(-295.7572px, 0, 0);  }
	60.3093% { -webkit-transform: translate3d(-289.6859px, 0, 0);  }
	60.8247% { -webkit-transform: translate3d(-282.6795px, 0, 0);  }
	61.3402% { -webkit-transform: translate3d(-276.6081px, 0, 0);  }
	61.8557% { -webkit-transform: translate3d(-271.3144px, 0, 0);  }
	62.3711% { -webkit-transform: translate3d(-268.2008px, 0, 0);  }
	62.8866% { -webkit-transform: translate3d(-265.3989px, 0, 0);  }
	63.4021% { -webkit-transform: translate3d(-263.6057px, 0, 0);  }
	63.9175% { -webkit-transform: translate3d(-255.8186px, 0, 0);  }
	64.4330% { -webkit-transform: translate3d(-245.8643px, 0, 0);  }
	64.9485% { -webkit-transform: translate3d(-235.1344px, 0, 0);  }
	65.4639% { -webkit-transform: translate3d(-224.5432px, 0, 0);  }
	65.9794% { -webkit-transform: translate3d(-214.6534px, 0, 0);  }
	66.4948% { -webkit-transform: translate3d(-205.7757px, 0, 0);  }
	67.0103% { -webkit-transform: translate3d(-198.0455px, 0, 0);  }
	67.5258% { -webkit-transform: translate3d(-191.4806px, 0, 0);  }
	68.0412% { -webkit-transform: translate3d(-186.0244px, 0, 0);  }
	68.5567% { -webkit-transform: translate3d(-181.5774px, 0, 0);  }
	69.0722% { -webkit-transform: translate3d(-178.0188px, 0, 0);  }
	69.5876% { -webkit-transform: translate3d(-175.2214px, 0, 0);  }
	70.1031% { -webkit-transform: translate3d(-173.0619px, 0, 0);  }
	70.6186% { -webkit-transform: translate3d(-171.4260px, 0, 0);  }
	71.1340% { -webkit-transform: translate3d(-170.2121px, 0, 0);  }
	71.6495% { -webkit-transform: translate3d(-169.3322px, 0, 0);  }
	72.1649% { -webkit-transform: translate3d(-168.7119px, 0, 0);  }
	72.6804% { -webkit-transform: translate3d(-168.2898px, 0, 0);  }
	73.1959% { -webkit-transform: translate3d(-168.0159px, 0, 0);  }
	73.7113% { -webkit-transform: translate3d(-167.8504px, 0, 0);  }
	74.2268% { -webkit-transform: translate3d(-167.7623px, 0, 0);  }
	74.7423% { -webkit-transform: translate3d(-167.7277px, 0, 0);  }
	75.2577% { -webkit-transform: translate3d(-167.7283px, 0, 0);  }
	75.7732% { -webkit-transform: translate3d(-167.7511px, 0, 0);  }
	76.2887% { -webkit-transform: translate3d(-167.7862px, 0, 0);  }
	76.8041% { -webkit-transform: translate3d(-167.8272px, 0, 0);  }
	77.3196% { -webkit-transform: translate3d(-167.8693px, 0, 0);  }
	77.8351% { -webkit-transform: translate3d(-167.9097px, 0, 0);  }
	78.3505% { -webkit-transform: translate3d(-167.9097px, 0, 0);  }
	78.8660% { -webkit-transform: translate3d(-167.9097px, 0, 0);  }
	79.3814% { -webkit-transform: translate3d(-166.9763px, 0, 0);  }
	79.8969% { -webkit-transform: translate3d(-166.9763px, 0, 0);  }
	80.4124% { -webkit-transform: translate3d(-162.7717px, 0, 0);  }
	80.9278% { -webkit-transform: translate3d(-157.1680px, 0, 0);  }
	81.4433% { -webkit-transform: translate3d(-149.2282px, 0, 0);  }
	81.9588% { -webkit-transform: translate3d(-141.2884px, 0, 0);  }
	82.4742% { -webkit-transform: translate3d(-131.9476px, 0, 0);  }
	82.9897% { -webkit-transform: translate3d(-122.1393px, 0, 0);  }
	83.5052% { -webkit-transform: translate3d(-113.7319px, 0, 0);  }
	84.0206% { -webkit-transform: translate3d(-107.1930px, 0, 0);  }
	84.5361% { -webkit-transform: translate3d(-102.0551px, 0, 0);  }
	85.0515% { -webkit-transform: translate3d(-96.4514px, 0, 0);  }
	85.5670% { -webkit-transform: translate3d(-93.0261px, 0, 0);  }
	86.0825% { -webkit-transform: translate3d(-83.7159px, 0, 0);  }
	86.5979% { -webkit-transform: translate3d(-73.0420px, 0, 0);  }
	87.1134% { -webkit-transform: translate3d(-62.1363px, 0, 0);  }
	87.6289% { -webkit-transform: translate3d(-51.7189px, 0, 0);  }
	88.1443% { -webkit-transform: translate3d(-42.2111px, 0, 0);  }
	88.6598% { -webkit-transform: translate3d(-33.8234px, 0, 0);  }
	89.1753% { -webkit-transform: translate3d(-26.6221px, 0, 0);  }
	89.6907% { -webkit-transform: translate3d(-20.5796px, 0, 0);  }
	90.2062% { -webkit-transform: translate3d(-15.6116px, 0, 0);  }
	90.7216% { -webkit-transform: translate3d(-11.6030px, 0, 0);  }
	91.2371% { -webkit-transform: translate3d(-8.4261px, 0, 0);  }
	91.7526% { -webkit-transform: translate3d(-5.9532px, 0, 0);  }
	92.2680% { -webkit-transform: translate3d(-4.0633px, 0, 0);  }
	92.7835% { -webkit-transform: translate3d(-2.6472px, 0, 0);  }
	93.2990% { -webkit-transform: translate3d(-1.6093px, 0, 0);  }
	93.8144% { -webkit-transform: translate3d(-0.8677px, 0, 0);  }
	94.3299% { -webkit-transform: translate3d(-0.3543px, 0, 0);  }
	94.8454% { -webkit-transform: translate3d(-0.0131px, 0, 0);  }
	95.3608% { -webkit-transform: translate3d(0.2008px, 0, 0);  }
	95.8763% { -webkit-transform: translate3d(0.3226px, 0, 0);  }
	96.3918% { -webkit-transform: translate3d(0.3800px, 0, 0);  }
	96.9072% { -webkit-transform: translate3d(0.3938px, 0, 0);  }
	97.4227% { -webkit-transform: translate3d(0.3795px, 0, 0);  }
	97.9381% { -webkit-transform: translate3d(0.3486px, 0, 0);  }
	98.4536% { -webkit-transform: translate3d(0.3090px, 0, 0);  }
	98.9691% { -webkit-transform: translate3d(0.2664px, 0, 0);  }
	99.4845% { -webkit-transform: translate3d(0.2243px, 0, 0);  }
	100.0000% { -webkit-transform: translate3d(0.1850px, 0, 0);  }
}

#tap-gesture .gesture-animation {
	background-image: url('../images/gestures-tap.jpg');
}

#tap-gesture .touchpoint {
	margin-left: 60px;
	margin-top: 100px;
	-webkit-animation-name: double-tap;
	-webkit-animation-duration: 3s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

#heart {
	background-image: url('../images/instagram-heart.png');
	width: 78px;
	height: 69px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 30px;
	-webkit-animation-name: heart;
	-webkit-animation-duration: 3s;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes heart {
	0% {
		-webkit-transform: scale3d(0,0,1);
		opacity: 0;
	}
	
	20% {
		-webkit-transform: scale3d(0,0,1);
		opacity: 0;
	}
	
	26.666% {
		-webkit-transform: scale3d(1,1,1);
		opacity: 1;
	}
	
	50% {
		-webkit-transform: scale3d(1,1,1);
		opacity: 1;
	}
	
	65% {
		-webkit-transform: scale3d(1,1,1);
		opacity: 0;
	}
	
	100% {
		-webkit-transform: scale3d(1,1,1);
		opacity: 0;
	}
}

@-webkit-keyframes double-tap {
	0% {
		opacity: 1;
	}
	
	6.666% {
		opacity: 0;
	}
	
	7.332% {
		opacity: 0;
	}
	
	7.333% {
		opacity: 1;	
	}
	
	14% {
		opacity: 0;
	}
	
	100% {
		opacity: 0;
	}
}

#swipe-background {
	background-image: url('../images/bookmarks-background.jpg');
	width: 100%;
	height: 100%;
}

#swipe-list {
	background-image: url('../images/bookmarks-list.png');
	width: 100%;
	height: 100%;
}

#swipe-feed {
	background-image: url('../images/bookmarks-feed.jpg');
	width: 100%;
	height: 100%;
}

.touchpoint {
	background-image: url('../images/touch-point.png');
	width: 42px;
	height: 42px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

#gesture-patches {
	background-image: url('../images/gestures-popover.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 440px;
	height: 240px;
	margin: 30px auto;
	position: relative;
}

#gesture-patches .patches {
	background-image: url('../images/gestures-swipe-patches.png');
	background-size: cover;
	background-position: center;
	width: 372px;
	height: 138px;
	position: absolute;
	margin: 0 auto;
	top: 48px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

#gesture-patches .patches p {
	text-align: center;
	font-size: 13px;
	width: 200px;
	margin-top: 110px;
	margin-left: 5px;
	color: rgba(0,0,0,0.6);
	-webkit-user-select:none;
}

.patch-values {
	font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: rgba(255,255,255,0.5);
	position: absolute;
}

#swipe-y-value {
	left: 354px;
	top: 84px;
}

#swipe-opacity-value {
	left: 341px;
	top: 157px;
}

#progress-port {
	position: absolute;
	left: 217px;
	top: 93px;
}

#opacity-port {
	position: absolute;
	left: 267px;
	top: 150px;
}

.pulsing-port {
	border-radius: 50%;
	background-color: white;
	width: 30px;
	height: 30px;
	-webkit-animation-name: pulsate;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-name: pulsate;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: ease-out;
	-moz-animation-iteration-count: infinite;
}

#progress-cable {
	width: 1px;
	left: 231px;
	top: 106px;
}

.cable {
	background-color: rgb(254, 186, 1);
	opacity: 0;
	height: 3px;
	position: absolute;
	-webkit-transform-origin: left center;
}

.port-hit-area {
	width: 30px;
	height: 30px;
	background-color: rgba(255,0,0,0);
	position: absolute;
	z-index: 1;
}

#progress-hit-area {
	top: 92px;
	left: 216px;
}

#opacity-hit-area {
	top: 150px;
	left: 267px;
}

@-webkit-keyframes pulsate {
	0% {
		-webkit-transform: scale3d(0,0,1);
		opacity: 1;
	}
	
	100% {
		-webkit-transform: scale3d(1,1,1);
		opacity: 0;
	}
}

@-moz-keyframes pulsate {
	0% {
		-moz-transform: scale3d(0,0,1);
		opacity: 1;
	}
	
	100% {
		-moz-transform: scale3d(1,1,1);
		opacity: 0;
	}
}

/* Presentation Section */

#section-presentation {
	text-align: center;
	height: 1000px;
	position: relative;
}

#tv {
	background-image: url('../images/tv.jpg');
	background-size: cover;
	background-position: center;
	width: 975px;
	height: 597px;
	position: absolute;
	left: 50%;
	margin-left: -487.5px;
	margin-top: 35px;
	-webkit-transform-origin: center top;
}

#screen {
	background-color: white;
	background-size: cover;
	background-position: center;
	width: 779px;
	height: 438px;
	margin: 0 auto;
	top: 22px;
	position: relative;
	overflow: hidden;
}

#screen div {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	width: 163%;
	height: 163%;
	left: -50%;
	margin-left: 143px;
	top: -50%;
	margin-top: 81px;
}

#screen .hand {
	background-image: url('../images/hand.png');
}

#screen .mockup {
	background-image: url('../images/messenger.png');
}

#screen .darkening {
	background-image: url('../images/darkening.png');
	background-size: cover;
	opacity: 0;
}

#screen .phone {
	background-image: url('../images/iphone.png');
}

#screen .lighting {
	background-image: url('../images/tv-lighting.png');
	top: 0;
	margin-left: 0;
	top: 0;
	margin-top: 0;
}

#controller {
	bottom: 0;
	left: 50%;
	margin-left: -120px;
	color: rgb(128, 128, 128);
	position: absolute;
}

#keys {
	list-style: none;
	display: inline-block;
	margin-top: 20px;
	padding-bottom: 85px;
}

#keys li {
	float: left;
	width: 50px;
	height: 50px;
	margin: 0 5px;
	border-radius: 4px;
	border-color: rgba(0, 0, 0, .3);
	border-width: 2px;
	border-style: solid;
	color: rgba(0, 0, 0, .4);
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 23px;
	line-height: 46px;
}

#minus-key {
	background-image: url('../images/key-minus.png');
	background-size: 14px 14px;
	background-position: center;
	background-repeat: no-repeat;
}

#plus-key {
	background-image: url('../images/key-plus.png');
	background-size: 14px 14px;
	background-position: center;
	background-repeat: no-repeat;
}

#keys li:active,
#keys li.active {
	background-color: rgba(0, 0, 0, 0.1);
}

/* Code Section */

#section-code {
	background: radial-gradient(ellipse farthest-side at 100% 100%, #8a94d9 30%, #2a3e9e 125%);
	padding-bottom: 70px;
	color: white;
	position: relative;
}

#code-image {
	background-image: url('../images/code.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
}

#section-code .header {
	color: white;
}

#section-code .header p {
	color: white;
}

#section-code ::selection {
	background: rgba(255, 255, 255, .3);	
}

#section-code .main-content {
	width: 850px;
	margin: 90px auto 0 auto;
}

#section-code .description {
	width: 390px;
	float: left;
}

#code-menu {
	background-image: url('../images/code-menu.png');
	background-size: cover;
	width: 378px;
	height: 146px;
	float: right;
	margin-top: 50px;
}

#code-buttons {
	margin-top: 15px;
}

#code-buttons li {
	margin-right: 10px;
	padding: 3px 10px;
}

/* Photoshop Section */

#section-photoshop {
	background-image: url('../images/photoshop.jpg');
	background-size: calc(904px * 0.9) calc(757px * 0.9);
	background-position-x: calc(50% - 360px);
	background-position-y: bottom;
	background-repeat: no-repeat;
	height: 650px;
	text-align: left;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	position: relative;
}

#section-photoshop .body-text {
	width: 1000px;
	padding-left: 600px;
	margin: auto;
}

#section-photoshop h2 {
	padding-top: 0;
}

#section-photoshop .body-text p {
	color: rgba(0, 0, 0, 0.5);
}

/* Desktop Section */

#section-desktop {
	height: 650px;
	position: relative;
	overflow: hidden;
}

#rooms-site {
	background-image: url('../images/rooms-site.jpg');
	background-size: 965px 507px;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	height: 507px;
	bottom: -84px;
}

#rooms-clipview {
	width: 434px;
	height: 279px;
	margin-top: 180px;
	margin-left: calc(50% + 1px);
	margin-right: auto;
	overflow: hidden;
	position: relative;
}

.rooms-street {
	background-image: url('../images/rooms-street.jpg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;	
	width: 820px;
	height: 279px;
	position: absolute;
	-webkit-animation-name: pan;
	-webkit-animation-duration: 20s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-name: pan;
	-moz-animation-duration: 20s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

#street2 {
	left: 828px;
}

@-webkit-keyframes pan {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
	}
	
	100% {
		-webkit-transform: translate3d(-828px, 0, 0);
	}
}

@-moz-keyframes pan {
	0% {
		-moz-transform: translate3d(0, 0, 0);
	}
	
	100% {
		-moz-transform: translate3d(-828px, 0, 0);
	}
}

/* Getting Started Section */

#section-get-started {
	background-image: url('../images/birds.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	color: white;
	text-align: center;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#section-get-started ::selection {
	background: rgba(255, 255, 255, .3);	
}

#section-get-started h2 {
	padding-top: 0;
}

#section-get-started .header p {
	color: white;
}

#section-get-started .centered-content {
	margin: auto;
}

#download-buttons {
	margin-top: 35px;
	text-align: left;
	list-style: none;
	display: inline-block;
}

#download-buttons li {
	padding: 9px 10px;
	margin: 0 8px;
	width: 240px;
	line-height: 18px;
}

.download-arrow {
	background-image: url('../images/download-arrow.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 23px;
	height: 24px;
	float: left;
	margin: 6px 10px 0 3px;
}

.secondary-button-text {
	color: rgba(255, 255, 255, .7);
	font-size: 12px;
}

#help-buttons {
	margin-top: 72px;
	margin-left: auto;
	margin-right: auto;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.help-button {
	width: 200px;
	height: 200px;
	background-size: 70px 56px;
	background-position-x: 50%;
	background-position-y: 8%;
	background-repeat: no-repeat;
	padding-top: 71px;
	margin: auto 10px;	
}

#help-buttons p {
	font-size: 12px;
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	-webkit-user-select:none;
	cursor: default;
}

#help-buttons a {
	text-decoration: none;
	font-weight: normal;
}

#examples-button {
	background-image: url('../images/learn-examples.png');
}

#tutorials-button {
	background-image: url('../images/learn-tutorials.png');
}

#documentation-button {
	background-image: url('../images/learn-documentation.png');
}

#community-button {
	background-image: url('../images/learn-community.png');
}

#help-buttons div {
	border-radius: 6px;
}

#help-buttons div:hover {
	background-color: rgba(255, 255, 255, .15);
}

#help-buttons div:active {
	background-color: rgba(255, 255, 255, .3);
}

@media only screen and (max-width: 1024px) {
	
	#section-code .main-content {
		width: 100vw;
	}
	
	#section-code #code-menu {
		float: none;
		margin: 0 auto 24px;
	}
	
	#section-code .description {
		margin: 0 auto;
		float: none;
	}
	
	#section-photoshop {
		background-position: center bottom;
		height: 860px;
	}
	
	#section-photoshop .body-text {
		padding: 70px 36px;
		max-width: 540px;
		width: auto;
		margin: 0 auto;
		text-align: center;
	}
	
	#section-presentation {
		height: 850px;	
	}
	
	#tv {
		-webkit-transform: scale3d(.8, .8, 1);
	}
	
}

@media only screen and (max-width: 860px) {
	#gesture-patches {
		display: none;	
	}
	
	#section-photoshop {
		background-position: right 36px bottom 0;
	}
	
	#section-presentation {
		height: 700px;	
	}
	
	#tv {
		-webkit-transform: scale3d(.5, .5, 1);
	}
}

@media only screen and (max-width: 610px) {

}