.buttons {
	list-style: none;
	display: inline-block;
}

.buttons li {
	float: left;
	border-radius: 4px;
	border-width: 1px;
	border-color: white;
	border-style: solid;
}

.buttons li:active,
.buttons li.active {
	background-color: rgba(255, 255, 255, .3);
}

.gradient-divider {
	width: 100%;
	height: 300px;
	position: absolute;
	bottom: 0px;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.06));
	border-bottom-color: rgba(0,0,0,0.08);
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

/* Hero Section */

#section-hero {
	background-image: url('../images/hero.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	min-height: 500px;
	color: white;
}

#section-hero p::selection {
	background: rgba(255, 255, 255, .3);	
}

#hero-content-wrapper {
	display: -webkit-flex;
	display: flex;
	align-items: center;
	height: 100vh;
	/*max-height: 760px;*/
}

#hero-content {
	max-width: 400px;
	margin-left: 7%;
	margin-top: auto;
	margin-bottom: auto;
	padding-bottom: 20px;
}

#hero-content .logo {
	background-image: url('../images/logo-big-2x.png');
	background-size: contain;
	width: 257px;
	height: 92px;
	margin-bottom: 36px;
}

/* Gestures Section */

#section-gestures {
	position: relative;
	height: 1060px;
}

#gesture-types {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

#gesture-types h2 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 27px;
	padding-bottom: 14px;
}

.gesture-type {
	width: 290px;
	margin: 0 25px;
}

.gesture-type p {
	height: 110px;
}

.gesture-animation {
	background-size: cover;
	background-position: center;
	background-color: black;
	width: 168px;
	height: 299px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
	position: relative;
	overflow: hidden;
}

.gesture-animation div {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
}

#scroll-gesture .gesture-animation {
	background-image: url('../images/gestures-scroll.jpg');
}

#tap-gesture .gesture-animation {
	background-image: url('../images/gestures-tap.jpg');
}

#tap-gesture .touchpoint {
	margin-left: 60px;
	margin-top: 100px;
	-webkit-animation-name: double-tap;
	-webkit-animation-duration: 3s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

#heart {
	background-image: url('../images/instagram-heart.png');
	width: 78px;
	height: 69px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 30px;
	-webkit-animation-name: heart;
	-webkit-animation-duration: 3s;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes heart {
	0% {
		-webkit-transform: scale3d(0,0,1);
		opacity: 0;
	}
	
	20% {
		-webkit-transform: scale3d(0,0,1);
		opacity: 0;
	}
	
	26.666% {
		-webkit-transform: scale3d(1,1,1);
		opacity: 1;
	}
	
	50% {
		-webkit-transform: scale3d(1,1,1);
		opacity: 1;
	}
	
	65% {
		-webkit-transform: scale3d(1,1,1);
		opacity: 0;
	}
	
	100% {
		-webkit-transform: scale3d(1,1,1);
		opacity: 0;
	}
}

@-webkit-keyframes double-tap {
	0% {
		opacity: 1;
	}
	
	6.666% {
		opacity: 0;
	}
	
	7.332% {
		opacity: 0;
	}
	
	7.333% {
		opacity: 1;	
	}
	
	14% {
		opacity: 0;
	}
	
	100% {
		opacity: 0;
	}
}

#swipe-background {
	background-image: url('../images/bookmarks-background.jpg');
	width: 100%;
	height: 100%;
}

#swipe-list {
	background-image: url('../images/bookmarks-list.png');
	width: 100%;
	height: 100%;
}

#swipe-feed {
	background-image: url('../images/bookmarks-feed.jpg');
	width: 100%;
	height: 100%;
}

.touchpoint {
	background-image: url('../images/touch-point.png');
	width: 42px;
	height: 42px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

#gesture-patches {
	background-image: url('../images/gestures-popover.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 440px;
	height: 240px;
	margin: 30px auto;
	position: relative;
}

#gesture-patches .patches {
	background-image: url('../images/gestures-swipe-patches.png');
	background-size: cover;
	background-position: center;
	width: 372px;
	height: 138px;
	position: absolute;
	margin: 0 auto;
	top: 48px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

#gesture-patches .patches p {
	text-align: center;
	font-size: 13px;
	width: 200px;
	margin-top: 110px;
	margin-left: 5px;
	color: rgba(0,0,0,0.6);
	-webkit-user-select:none;
}

.patch-values {
	font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: rgba(255,255,255,0.5);
	position: absolute;
}

#swipe-y-value {
	left: 354px;
	top: 84px;
}

#swipe-opacity-value {
	left: 341px;
	top: 157px;
}

#progress-port {
	position: absolute;
	left: 217px;
	top: 93px;
}

#opacity-port {
	position: absolute;
	left: 267px;
	top: 150px;
}

.pulsing-port {
	border-radius: 50%;
	background-color: white;
	width: 30px;
	height: 30px;
	-webkit-animation-name: pulsate;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-name: pulsate;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: ease-out;
	-moz-animation-iteration-count: infinite;
}

#progress-cable {
	width: 1px;
	left: 231px;
	top: 106px;
}

.cable {
	background-color: rgb(254, 186, 1);
	opacity: 0;
	height: 3px;
	position: absolute;
	-webkit-transform-origin: left center;
}

.port-hit-area {
	width: 30px;
	height: 30px;
	background-color: rgba(255,0,0,0);
	position: absolute;
	z-index: 1;
}

#progress-hit-area {
	top: 92px;
	left: 216px;
}

#opacity-hit-area {
	top: 150px;
	left: 267px;
}

@-webkit-keyframes pulsate {
	0% {
		-webkit-transform: scale3d(0,0,1);
		opacity: 1;
	}
	
	100% {
		-webkit-transform: scale3d(1,1,1);
		opacity: 0;
	}
}

@-moz-keyframes pulsate {
	0% {
		-moz-transform: scale3d(0,0,1);
		opacity: 1;
	}
	
	100% {
		-moz-transform: scale3d(1,1,1);
		opacity: 0;
	}
}

/* Presentation Section */

#section-presentation {
	text-align: center;
}

#tv {
	background-image: url('../images/tv.jpg');
	background-size: cover;
	background-position: center;
	width: 100vw;
	max-width: 975px;
	height: 597px;
	margin: 35px auto 0 auto;
}

#screen {
	background-color: white;
	background-size: cover;
	background-position: center;
	width: 779px;
	height: 438px;
	margin: 0 auto;
	top: 22px;
	position: relative;
	overflow: hidden;
}

#screen div {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	width: 163%;
	height: 163%;
	left: -50%;
	margin-left: 143px;
	top: -50%;
	margin-top: 81px;
}

#screen .hand {
	background-image: url('../images/hand.png');
}

#screen .mockup {
	background-image: url('../images/messenger.png');
}

#screen .darkening {
	background-image: url('../images/darkening.png');
	background-size: cover;
	opacity: 0;
}

#screen .phone {
	background-image: url('../images/iphone.png');
}

#screen .lighting {
	background-image: url('../images/tv-lighting.png');
	top: 0;
	margin-left: 0;
	top: 0;
	margin-top: 0;
}

#controller {
	margin-top: -55px;
	color: rgb(128, 128, 128);
}

#keys {
	list-style: none;
	display: inline-block;
	margin-top: 20px;
	padding-bottom: 85px;
}

#keys li {
	float: left;
	width: 50px;
	height: 50px;
	margin: 0 5px;
	border-radius: 4px;
	border-color: rgba(0, 0, 0, .3);
	border-width: 2px;
	border-style: solid;
	color: rgba(0, 0, 0, .4);
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 23px;
	line-height: 46px;
}

#minus-key {
	background-image: url('../images/key-minus.png');
	background-size: 14px 14px;
	background-position: center;
	background-repeat: no-repeat;
}

#plus-key {
	background-image: url('../images/key-plus.png');
	background-size: 14px 14px;
	background-position: center;
	background-repeat: no-repeat;
}

#keys li:active,
#keys li.active {
	background-color: rgba(0, 0, 0, 0.1);
}

/* Code Section */

#section-code {
	background: radial-gradient(ellipse farthest-side at 100% 100%, #8a94d9 30%, #2a3e9e 125%);
	height: 650px;
	color: white;
	position: relative;
}

#code-image {
	background-image: url('../images/code.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
}

#section-code .header {
	color: white;
}

#section-code .header p {
	color: white;
}

#section-code ::selection {
	background: rgba(255, 255, 255, .3);	
}

#section-code .main-content {
	width: 850px;
	margin: 90px auto 0 auto;
}

#section-code .description {
	width: 390px;
	float: left;
}

#code-menu {
	background-image: url('../images/code-menu.png');
	background-size: cover;
	width: 378px;
	height: 146px;
	float: right;
	margin-top: 50px;
}

#code-buttons {
	margin-top: 15px;
}

#code-buttons li {
	margin-right: 10px;
	padding: 3px 10px;
}

/* Photoshop Section */

#section-photoshop {
	background-image: url('../images/photoshop.jpg');
	background-size: calc(904px * 0.9) calc(757px * 0.9);
	background-position-x: calc(50% - 360px);
	background-position-y: 50%;
	background-repeat: no-repeat;
	height: 650px;
	text-align: left;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	position: relative;
}

#section-photoshop .body-text {
	width: 1000px;
	padding-left: 600px;
	margin: auto;
}

#section-photoshop h2 {
	padding-top: 0;
}

#section-photoshop .body-text p {
	color: rgba(0, 0, 0, 0.5);
}

/* Desktop Section */

#section-desktop {
	height: 650px;
	position: relative;
	overflow: hidden;
}

#rooms-site {
	background-image: url('../images/rooms-site.jpg');
	background-size: 965px 507px;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	height: 507px;
	bottom: -84px;
}

#rooms-clipview {
	width: 434px;
	height: 279px;
	margin-top: 180px;
	margin-left: calc(50% + 1px);
	margin-right: auto;
	overflow: hidden;
	position: relative;
}

.rooms-street {
	background-image: url('../images/rooms-street.jpg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;	
	width: 820px;
	height: 279px;
	position: absolute;
	-webkit-animation-name: pan;
	-webkit-animation-duration: 20s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-name: pan;
	-moz-animation-duration: 20s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

#street2 {
	left: 828px;
}

@-webkit-keyframes pan {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
	}
	
	100% {
		-webkit-transform: translate3d(-828px, 0, 0);
	}
}

@-moz-keyframes pan {
	0% {
		-moz-transform: translate3d(0, 0, 0);
	}
	
	100% {
		-moz-transform: translate3d(-828px, 0, 0);
	}
}

/* Getting Started Section */

#section-get-started {
	background-image: url('../images/birds.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	color: white;
	text-align: center;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#section-get-started ::selection {
	background: rgba(255, 255, 255, .3);	
}

#section-get-started h2 {
	padding-top: 0;
}

#section-get-started .header p {
	color: white;
}

#section-get-started .centered-content {
	margin: auto;
}

#download-buttons {
	margin-top: 35px;
	text-align: left;
	list-style: none;
	display: inline-block;
}

#download-buttons li {
	padding: 9px 10px;
	margin: 0 8px;
	width: 240px;
	line-height: 18px;
}

.download-arrow {
	background-image: url('../images/download-arrow.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 23px;
	height: 24px;
	float: left;
	margin: 6px 10px 0 3px;
}

.secondary-button-text {
	color: rgba(255, 255, 255, .7);
	font-size: 12px;
}

#help-buttons {
	margin-top: 72px;
	margin-left: auto;
	margin-right: auto;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.help-button {
	width: 200px;
	height: 200px;
	background-size: 70px 56px;
	background-position-x: 50%;
	background-position-y: 8%;
	background-repeat: no-repeat;
	padding-top: 71px;
	margin: auto 10px;	
}

#help-buttons p {
	font-size: 12px;
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	-webkit-user-select:none;
	cursor: default;
}

#help-buttons a {
	text-decoration: none;
	font-weight: normal;
}

#examples-button {
	background-image: url('../images/learn-examples.png');
}

#tutorials-button {
	background-image: url('../images/learn-tutorials.png');
}

#documentation-button {
	background-image: url('../images/learn-documentation.png');
}

#community-button {
	background-image: url('../images/learn-community.png');
}

#help-buttons div {
	border-radius: 6px;
}

#help-buttons div:hover {
	background-color: rgba(255, 255, 255, .15);
}

#help-buttons div:active {
	background-color: rgba(255, 255, 255, .3);
}