body.release-notes {
	color: #333;
	font: 13px/16px Helvetica, Arial, sans-serif;
	width: 418px;
	padding: 2px 15px 0;
}

.release-notes a {
	color: #2687e2;
	font-weight: bold;
	text-decoration: none;
}

.release-notes a:hover {
	text-decoration: underline;
}

.release-notes h2 {
  color: #999;
  font-size: 13px;
}

.release-notes ul {
  margin: 0 0 35px;
  padding: 0 0 0 5px;
}

.release-notes li {
  margin-bottom: 8px;
  list-style: none;
  text-indent: -8px;
  margin-left: -3px;
}

.release-notes li:before {
    content: "• ";
    color: #666;
}
