#tutorials {
	list-style-type: none;
	max-width: 850px;
	padding: 15px;
	margin: 72px auto 0;
}

.tutorial {
	margin-bottom: 100px;
}

.embed-container {
	background-color: #e5e5e5;	
}

.tutorial-info {
	margin-top: 24px;	
	position: relative;
}

a.download-button {
	padding-left: 32px;
	background-image: url('../images/download-blue.png');
	background-size: 12px 14px;
	background-repeat: no-repeat;
	background-position: 12px 9px;
}

.tutorial-info h3 {
	font-size: 16px;
	margin-bottom: 8px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
}

.tutorial-info p {
	margin-bottom: 1em;
	color: rgb(128, 128, 128);
	max-width: 550px;
	margin-right: 150px;
	font-size: 14px;
	line-height: 18px;
}

@media only screen and (max-width: 610px) {
	.tutorial-info p {
		margin-right: 0;	
	}
}