<ul class="docs">
	<li>Basics
		<ul>
		{% assign by_title = site.documentation | sort:"title" %}
		{% assign by_weight = site.documentation | sort:"weight", "last"  %}

		{% for doc in by_weight %}
			{% if doc.relative_path contains "basics" or doc.title == "Introduction" %}

				{% if doc.url == page.url %}
					<li><span>{{ doc.title }}</span></li>
				{% else %}
					<li><a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }} </a></li>
				{% endif %}

		  {% endif %}
		{% endfor %}
		</ul>
	</li>


	<li>Workflow
		<ul>
		{% assign by_title = site.documentation | sort:"title" %}
		{% assign by_weight = site.documentation | sort:"weight", "last"  %}

		{% for doc in by_weight %}
			{% if doc.relative_path contains "workflow" %}

				{% if doc.url == page.url %}
					<li><span>{{ doc.title }}</span></li>
				{% else %}
					<li><a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }} </a></li>
				{% endif %}

		  {% endif %}
		{% endfor %}
		</ul>
	</li>

	<li>Concepts
		<ul>
		{% assign by_title = site.documentation | sort:"title" %}
		{% assign by_weight = site.documentation | sort:"weight", "last"  %}

		{% for doc in by_weight %}
			{% if doc.relative_path contains "concepts" %}

				{% if doc.url == page.url %}
					<li><span>{{ doc.title }}</span></li>
				{% else %}
					<li><a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }} </a></li>
				{% endif %}

		  {% endif %}
		{% endfor %}
		</ul>
	</li>

	<li>Patches
		<ul>
		{% for doc in by_title %}
			{% if doc.relative_path contains "patches" %}

				{% if doc.url == page.url %}
					<li><span>{{ doc.title }}</span></li>
				{% else %}
					<li><a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }} </a></li>
				{% endif %}

		  {% endif %}
		{% endfor %}
		</ul>
	</li>
</ul>
