<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '468769266558514',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div id="section-f8">
	<div class="description">
		<p><h3>See what's coming next</h3></p>
		<p>Origami Studio, a brand new design tool built from scratch by Facebook Design, is coming later this year for free.</p>
		<p><a href="https://facebook.com/groups/origami.community" target="_blank">Join the community to learn more</a></p>
	</div>

	<div id="f8-video-container">
		<span id="f8-video-loading">Loading video...</span>
		<div id="f8-video">
			<div class="fb-video"
			    data-href="https://www.facebook.com/FacebookforDevelopers/videos/10153628493763553/"
			    data-width="360"
			    data-allowfullscreen="true"></div>
		</div>
	</div>
</div>
