<!DOCTYPE html>
<html>
<head>
	<title>Origami &mdash; {{ page.title }}</title>
	<meta property="og:title" content="Origami"/>
	<meta property="og:description" content="Design Prototyping">
	<meta property="og:url" content="http://origami.facebook.com"/>
	<meta name="author" content="Facebook, Inc." />
	<meta property="og:image" content="https://facebook.github.io/origami/images/blog-hero.jpg" />
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/public/css/global.css">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{{ page.css }}">
	<script type='text/javascript' src='{{ site.baseurl }}/public/js/jquery-2.1.0.min.js'></script>
	<script type='text/javascript' src='{{ site.baseurl }}/public/js/rebound.js'></script>
	<script type='text/javascript' src='{{ site.baseurl }}/public/js/global.js'></script>
	<script type='text/javascript' src='{{ site.baseurl }}{{ page.js }}'></script>
	<script type="text/javascript" src='{{ site.baseurl }}/public/js/ga.js'></script>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
</head>