<ul id="nav" class="cf">
	<li class="logo"><a href="{{ site.baseurl }}/">Origami for Quartz Composer</a></li>
{% for link in site.data.navigation %}

	{% if page.url contains link.url %}
	<li class="item current">
	{% else %}
	<li class="item">
	{% endif %}

	{% if link.url contains 'http' %}
		{% assign finalLink = link.url %}
	{% else %}
		{% assign finalLink = site.baseurl | append:link.url %}
	{% endif %}

	{% if link.target %}
		<a href="{{ finalLink }}" target="{{ link.target }}">{{ link.text }}</a>
	{% else %}
		<a href="{{ finalLink }}">{{ link.text }}</a>
	{% endif %}
	</li>

{% endfor %}

</ul>
