<div id="section-studio" {% if page.url == "/" %} class="homepage" {% endif %}>
	<div class="description">
		<h3>Origami Studio is here.</h3>
		<p>Origami for Quartz Composer is no longer supported. take a look at Origami Studio, a new Mac app built on the principles of Origami.</p>
		<p><a href="http://origami.design" target="_blank" class="button"><button>Get Origami Studio</button></a></p>
	</div>

	<a href="http://origami.design" target="_blank" class="screenshot">
		<img src="{{site.baseurl}}/public/images/studioInterface1.png"/ alt="Origami Studio"/>
	</a>
</div>
